[2018-04-24 20:48] rmundstock opened #1 "Related News Specs"
Related News Component

1. Show direct relationships first
1. If no direct relationships show articles with the same tag
1. If multiple tags, show the most recent articles with any of the tags present

[2018-05-07 20:17] tedw opened #2 "Listing Page Facets"
### Search, News, Amicus Brief
- Focus Area
- Date
- Article Type
- How We Work

### Legal Resources
- Focus Area
- Date
- Content Type
- Article Type
- Case Status
- How We Work

### Cases
- Focus Area
- Date
- Content Type ???
- Case Status
- How We Work

### People
- Focus Area ???
- Content Type ???
- Department

### Act Now, Petitions
- Focus Area
- Date
- Article Type ???

### Events
- Date

[2018-05-07 22:53] tedw commented on #2
@rmundstock Need to ask ALDF about the “news” article type and what the “hide form news” checkbox should do.

[2018-05-07 23:08] tedw commented on #1
@matbrady Turns out we need to combine the manually selected items with latest content by tags and de-dupe them. Can you provide an update BE estimate for this? Thanks!

[2018-05-07 23:38] tedw opened #3 "Related Cases"
All pages with this component (i.e. Homepage, Cases, Focus Area, Issue) should surface related cases using the following sources:

- Manually selected related cases
- Cases that share any tags
- Cases that have the same Focus Area

Limit to 3 results (requires checking for duplicates). Hide component if no related cases.

[2018-05-07 23:38] tedw commented on #3
@matbrady Can you help me estimate the BE for this one as well? Thanks!

[2018-05-09 19:05] rmundstock opened #4 "Homepage"
Invision: https://invis.io/W3EL9YNVR#/278808913_03b-Homepage

![03-homepage](https://user-images.githubusercontent.com/5369002/39834259-3c8a0ab6-5381-11e8-9da3-9eab388122dc.png)

Block/Field* | Description |  
 -- | -- | --
Homepage Feature Image* | This featured banner image on the homepage |  
Homepage CTA Title* | Title text for the homepage call to action |  
Homepage CTA description | Descrip

[2018-05-09 19:47] rmundstock opened #5 "Article"
# Article
![03-article-pressrelease](https://user-images.githubusercontent.com/5369002/39835996-d65c6652-5386-11e8-87f2-7e1d50daf7c8.png)

# Article Grouping
![03-article-grouping-2 copy](https://user-images.githubusercontent.com/5369002/39836006-e0ad37d0-5386-11e8-96f7-df358f5520eb.png)

# Social Embeds
YouTube embed
Vimeo embed
Tweet embed
Facebook post embed
Instagram embed

[2018-05-09 20:00] matbrady commented on #1
Articles 1-2
Issues 1-2
Case 2-3

[2018-05-10 20:18] rmundstock opened #6 "Case"
# Case

![03-cases_programs-fa- maximum](https://user-images.githubusercontent.com/5369002/39892115-62e97f10-5454-11e8-886e-b450bd4c5f4f.png)

[2018-05-10 20:26] rmundstock opened #10 "Focus Area"
# Focus Area

![03-landing- farmed](https://user-images.githubusercontent.com/5369002/39892494-b2dedbd6-5455-11e8-87de-4cfaac128f9b.png)

[2018-05-10 20:29] rmundstock opened #11 "People"
# People

![03-people bio](https://user-images.githubusercontent.com/5369002/39892618-1287c746-5456-11e8-8f6a-6d05d7f229e6.png)

[2018-05-10 20:30] rmundstock opened #12 "Search"
# Search
![03-listing page_search](https://user-images.githubusercontent.com/5369002/39892668-3f61db76-5456-11e8-95f8-46d3180c5419.png)

[2018-05-11 13:26] rmundstock opened #13 "Listing"
# Listing
![03-listing page_press release](https://user-images.githubusercontent.com/5369002/39926496-3ed71200-54e4-11e8-808c-90798ee03a14.png)

# People Listing

![03-people- listing](https://user-images.githubusercontent.com/5369002/39926441-18ff8382-54e4-11e8-8d20-ec26f8cb62f9.png)

[2018-05-11 13:27] rmundstock opened #14 "404"
# Bear with us
![404-bear-updated 1](https://user-images.githubusercontent.com/5369002/39927116-1f158a94-54e6-11e8-89b6-3a4a52e63798.png)

[2018-05-11 13:35] rmundstock opened #15 "Donation Promo"
# Donation Dropdown

![donation modal 2](https://user-images.githubusercontent.com/5369002/39926744-f8690f02-54e4-11e8-9eb1-057c4a59a92b.png)

[2018-05-11 13:39] rmundstock opened #17 "Header"
# Header

![03-homepage menu](https://user-images.githubusercontent.com/5369002/39927059-fad80c56-54e5-11e8-8fb9-9bfcd421b21c.png)

[2018-05-11 13:41] rmundstock opened #18 "Store"
Woo Commerce

[2018-05-14 14:21] tedw commented on #13
Specs in #2

[2018-05-14 18:39] rmundstock opened #20 "Related Cases"
![screen shot 2018-05-14 at 11 38 42 am](https://user-images.githubusercontent.com/5369002/40016507-628ccb70-576b-11e8-867d-bd9021fa042e.png)

[2018-05-14 18:39] rmundstock opened #21 "Related News"
![screen shot 2018-05-14 at 11 39 37 am](https://user-images.githubusercontent.com/5369002/40016547-80fbbe86-576b-11e8-9fe9-1085bedc807f.png)

[2018-05-15 13:25] rmundstock opened #23 "Page Builder - Actions Grid"
![screen shot 2018-05-15 at 6 26 02 am](https://user-images.githubusercontent.com/5369002/40059407-cf3fcf4a-5808-11e8-8623-0bdb5228d475.png)

[2018-05-15 13:26] rmundstock opened #24 "Page Builder - Text Promo"
![screen shot 2018-05-15 at 6 26 47 am](https://user-images.githubusercontent.com/5369002/40059450-ea8cfc78-5808-11e8-9fac-bb6f681eee58.png)

[2018-05-15 13:27] rmundstock opened #25 "Page Builder - 2 up Text Promo"
![screen shot 2018-05-15 at 6 27 28 am](https://user-images.githubusercontent.com/5369002/40059483-02823668-5809-11e8-8c14-7ab03c3597c4.png)

[2018-05-15 13:27] rmundstock opened #26 "Page Builder - Timeline"
![screen shot 2018-05-15 at 6 28 03 am](https://user-images.githubusercontent.com/5369002/40059514-1725033e-5809-11e8-91ba-a0619fc40a56.png)

[2018-05-15 13:31] rmundstock opened #28 "Page Builder - Fact Promo"
![screen shot 2018-05-15 at 6 30 37 am](https://user-images.githubusercontent.com/5369002/40059665-8208b9c0-5809-11e8-9598-fda98ab3c316.png)

[2018-05-15 13:32] rmundstock opened #29 "Page Builder - People list"
![screen shot 2018-05-15 at 6 31 48 am](https://user-images.githubusercontent.com/5369002/40059714-acaef05e-5809-11e8-8a47-3c989518fba1.png)

[2018-05-15 13:33] rmundstock opened #30 "Page Builder - 2 up Related Content"
![screen shot 2018-05-15 at 6 32 55 am](https://user-images.githubusercontent.com/5369002/40059775-d3bb42f6-5809-11e8-8bd8-e3bb63258ab2.png)

[2018-05-15 13:35] rmundstock opened #31 "Page Builder - Full Width Image"
![screen shot 2018-05-15 at 6 34 48 am](https://user-images.githubusercontent.com/5369002/40059882-1785bbce-580a-11e8-83f3-9acfdd035426.png)

[2018-05-15 13:37] rmundstock opened #32 "Page Builder - Pull Quote"
![screen shot 2018-05-15 at 6 37 08 am](https://user-images.githubusercontent.com/5369002/40060035-7b25365a-580a-11e8-9341-ab12c391ff2c.png)

[2018-05-15 13:39] #20 closed

[2018-05-15 13:39] #21 closed

[2018-05-15 16:46] lizzycederberg opened #33 "Remove large first letter from body"
Elizabeth noted that all press release will start with "FOR IMMEDIATE RELEASE" and wants to disable the large first letter in the body copy for those.

@cmontwill Are there other content types where this may be relevant too? i.e. should it be an optional feature in the admin?

cc @tedw

[2018-05-15 21:25] lizzycederberg opened #34 "blue links"

[2018-05-15 21:32] lizzycederberg opened #35 "Make style guide page password protected"

[2018-05-15 22:00] rmundstock opened #36 "Map to migrate"
http://aldf.org/resources/advocating-for-animals/animal-protection-laws-of-the-united-states-of-america-and-canada/

`<iframe src="/wp-content/themes/aldf/compendium-map/ca/map.html" frameallowfullscreen=""></iframe>`

[2018-05-16 13:44] lizzycederberg opened #37 "Add filter on Article listing page in CMS"
@tedw @matbrady David asked if we can add a filter to the Article listing page in the CMS to filter by article type. Not sure if this is easily doable -- please let me know.

https://live-aldf-wp.pantheonsite.io/wp/wp-admin/edit.php?post_type=article

[2018-05-16 13:46] lizzycederberg opened #38 "Solution for migrating in-line links"
@tedw @matbrady David mentioned that they were unsure of the best way to migrate content that includes links to pages on their current site since those links will all be pointing to old URLs once we go live. Do you have a recommendation for this? Anything we could do programmatically before launch? I told him we could give them a link scan report, but that would still be a ton of manual work. I al

[2018-05-16 14:20] lizzycederberg opened #39 "Solution for migrating inline images"
Similar to #38 David also asked how they should migrate images that are in content. Seems like this needs to be a manual process, but he wants to know if there's a way to move over all their current images and retain folder structures and placement in legacy content. Any recommendations?

[2018-05-16 15:41] tedw commented on #34
This was fixed by https://github.com/Threespot/aldf-wp/commit/a47d266d2723c3f2481e969ff7f4b78cf5abf05b

[2018-05-16 15:42] tedw commented on #35
This can be done in the admin
![screen shot 2018-05-16 at 11 42 31 am](https://user-images.githubusercontent.com/864716/40127816-414701ee-58fe-11e8-9399-80fac1b1846f.png)

[2018-05-16 15:55] tedw commented on #37
Yes, we can do this but we should think about which filters we want on each content type. We should also think about what additional columns would make sense to display for each content type.

[2018-05-16 16:02] tedw commented on #38
We can create redirect rules for content in subdirectories:

For example:
`http://aldf.org/blog/*`
`http://aldf.org/press-room/*`

Would redirect to
`https://aldf.org/article/*`

However, content that does not live in a subfolder will need its own redirect rule, for example:
`http://aldf.org/animals-so-much-more-than-property/`

New link would be
`https://aldf.org/article/animals-so-much-more-than

[2018-05-16 16:07] tedw commented on #39
I think the only solution for images that are stored in custom folders (i.e. not in default `/year/month/` folders) is to copy those folders to the new site via FTP. We will need FTP access to their current site to do this.

[2018-05-16 17:38] rmundstock commented on #37
Article and Cases may be the only content types that need an additional filter since the will have the most content. I don't think there will be enough projects or issues, but it might be a good idea to confirm that with David.

Article, add filter by article type
Cases, add filter by work type

[2018-05-16 17:47] rmundstock commented on #38
@lizzycederberg just need to re-iterate that if we go with this option they cannot edit the titles, they must remain the same as they are on the current site

[2018-05-16 23:13] lizzycederberg commented on #39
Thanks!

[2018-05-16 23:13] lizzycederberg commented on #38
Thank you both!

[2018-05-16 23:14] lizzycederberg commented on #37
Looks good to me -- @tedw Please add Rachel's suggestions.

[2018-05-16 23:16] #34 closed

[2018-05-17 18:53] jamielyn opened #41 "Case: Reduce space between case description and taxonomy"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

The space above and below the taxonomy should be equal, but there’s more above the taxonomy row.

![image](https://user-images.githubusercontent.com/6118778/40197607-f5419d74-59e1-11e8-9483-f57209bb2ab6.png)

[2018-05-17 18:54] jamielyn opened #42 "Case: Increase size of case info links"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

Increase size of “Active” and “Sign the Petition” links to 15px

![image](https://user-images.githubusercontent.com/6118778/40197699-351d16da-59e2-11e8-982c-bae6a32dd7d0.png)

[2018-05-17 18:58] jamielyn opened #43 "Adjust timeline controls"
- The "View" label should be Untitled Serif instead of Helvetica
- The default view is "Key Dates," so the "Key Dates" label should be dark orange with an underline.

Design
![image](https://user-images.githubusercontent.com/6118778/40197833-93651f9e-59e2-11e8-9c1d-ec9a93e8adf5.png)

Dev
![image](https://user-images.githubusercontent.com/6118778/40197771-608a3cc6-59e2-11e8-8d85-863aed76349d.png)

[2018-05-17 19:02] jamielyn opened #44 "Related News adjustments"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/
https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

- "Related News" heading is missing
- There should be a minimum of 30px between content items. There's only 20px between the two stories in the right column. This applies to both desktop and mobile.
- Remove the content type to the right of the date on each item. The content type should o

[2018-05-17 19:05] jamielyn opened #45 "Full width pull quote adjustments"
Lower the opacity of the background image to 20%

Dev
![image](https://user-images.githubusercontent.com/6118778/40198191-a93b4202-59e3-11e8-8c3a-fd9eb185ba65.png)

Desired design
![image](https://user-images.githubusercontent.com/6118778/40198178-a1fde5f8-59e3-11e8-8dba-12b9fe7e0dc2.png)

https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-17 19:12] jamielyn opened #47 "Action strata adjustments"
* Missing “Actions” shield
* Theres should be about 60px between the red rule and the first action promo
* The large image should be left aligned with the red rule and action below

Dev
![image](https://user-images.githubusercontent.com/6118778/40198362-45c7ac14-59e4-11e8-9aa5-f68af99b3776.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40198378-4db9aecc-59e4-11e8-8aa8-63eb

[2018-05-17 19:14] jamielyn opened #48 "Action promo image adjustments"
* The red shield on hover is a little harsh. Please change the color back to white on hover and lower the opacity of the shield to 50%
* The stroke of the shield gets thicker on smaller breakpoints. Can we adjust, so the width is always 5px?

Hover in dev
![image](https://user-images.githubusercontent.com/6118778/40198578-d44e06d6-59e4-11e8-9714-ea558bc64175.png)

Shield on mobile
![image](https:/

[2018-05-17 19:16] jamielyn opened #49 "Make tooltip corners square"
Dev
![image](https://user-images.githubusercontent.com/6118778/40198684-1f04f3ba-59e5-11e8-9f0d-ee7a163cf88f.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40198677-1800730a-59e5-11e8-81b5-378747f844d8.png)

https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-17 19:22] jamielyn opened #51 "Article: Date and social on mobile"
- Adjust the order so the date appears above the social links
- Adjust spacing so there's at least 30px between the date and social links

Dev
![image](https://user-images.githubusercontent.com/6118778/40198973-0479fab2-59e6-11e8-9514-c152e41930e4.png)

https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-17 19:34] jamielyn opened #52 "Orange button hover state"
- It looks like there's a 2px radius on the orange buttons — the corners should be square
- The buttons should display a texture on hover

Design
![image](https://user-images.githubusercontent.com/6118778/40199077-62f7013e-59e6-11e8-9ea2-8e4db1c1e581.png)

Dev
![image](https://user-images.githubusercontent.com/6118778/40199117-84279ecc-59e6-11e8-9a17-bb0b420653ae.png)

![image](https://user-images

[2018-05-17 19:41] jamielyn opened #53 "Soften image box shadow"
Please change the box shadow to: 0 0 30px 0 rgba(0,0,0,.3)

On the case and article templates, this applies to the action promo images and people images.

Dev
![image](https://user-images.githubusercontent.com/6118778/40199787-89f84930-59e8-11e8-93a0-f939774fbd55.png)

![image](https://user-images.githubusercontent.com/6118778/40199776-7f182b02-59e8-11e8-88e0-65ea3a373334.png)

Adjustments
![image

[2018-05-17 20:05] jamielyn opened #54 "Main nav VQA"
- Menu label and icon, and search label and icon should be #4a3d31 (it looks like they're black now)
- Increase size of donate heart icon, so it's about 30 x 30px
- When the menu is open, the close background should be #4a3d31
- Lower the opacity of the vertical divider rules slightly to soften
- About ALDF, Legal Resources and Shop links should be bold

Dev
![image](https://user-images.githubuser

[2018-05-17 20:36] jamielyn opened #55 "Issue Page: Title block"
https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

- "Issue" super heading should be bold
- H1 should be Untitled Serif
- Padding should be 50px all around (increase padding on the left and right)
- Increase space between "Share this page" label and social icons, so there's about 20px between the two

Dev
![image](https://user-images.githubusercontent.com/6118778/40202431-f0994908-59ef-11e8-804c-

[2018-05-17 20:39] jamielyn opened #56 "Issue Page: Expand text fade"
Around 2–4 lines of text should fade out above the Expand link.

Dev
![image](https://user-images.githubusercontent.com/6118778/40202694-c1ee7f0a-59f0-11e8-8d03-eee5d6c6a3af.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40202707-c8cee404-59f0-11e8-9c5a-bd9ac7a40084.png)

https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

[2018-05-18 15:27] jamielyn opened #57 "Article Group: Subnav adjustments"
### Adjust styling
* All items should be Helvetica 500 #4a3d31
* Active page should be Helvetica 700 #d47500 with arrow bullet to the left of text
* Hover state should be the same for all items rgba(74,61,49,.1)

Design
![image](https://user-images.githubusercontent.com/6118778/40243365-06fe5cc6-5a8e-11e8-8c6f-084725ffd97e.png)

### Desktop: Top of subnav should align with rule

- Move up about 15

[2018-05-18 15:30] jamielyn opened #58 "Article: Increase title block subtitle font size"
Increase subtitle to match subtitles on issue and case pages
* Font-size: 22px
* Line-height: 29px

Dev
![image](https://user-images.githubusercontent.com/6118778/40243627-b783b65e-5a8e-11e8-97e4-7763df27c682.png)

Issue subtitle
![image](https://user-images.githubusercontent.com/6118778/40243641-bf9f4484-5a8e-11e8-90fd-b4cff5a13221.png)

https://live-aldf-wp.pantheonsite.io/article/test-article-w

[2018-05-18 15:49] lizzycederberg opened #59 "QA Tasks"
@lfrancis Here are the details for QA for ALDF01

- Budgeted hours = 26
- QA start date: Monday, 5/21
- QA eEnd date: Wednesday, 5/30
- Help reviewing tickets out of UAT: Thursday, 6/7
- Launch-ready: 6/8 (will go live the following week)

**Test site: https://test-aldf-wp.pantheonsite.io/**
**Live site: https://live-aldf-wp.pantheonsite.io/**
(Note: Pantheon has 3 environments: dev, test and live

[2018-05-18 16:20] tedw commented on #59
@lfrancis Like Lizzy said, I think it makes sense for you to test on https://live-aldf-wp.pantheonsite.io

If there is anything we want you to test before the client sees it, Mat and I will let you know and send you the https://test-aldf-wp.pantheonsite.io link to test.

[2018-05-18 16:48] jamielyn opened #60 "Footer VQA"
- About ALDF, Legal Resources and Shop links should be bold
- On tablet and mobile breakpoints, make the logo about 40% smaller

Dev
![image](https://user-images.githubusercontent.com/6118778/40247198-9eb54894-5a99-11e8-80ad-d43d825d4e81.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40247204-a47c743c-5a99-11e8-979a-1161e62d6d84.png)

[2018-05-18 17:30] jamielyn opened #61 "Add letter spacing to bold Untitled Serif headings"
The bold text is a little hard to read because the default spacing is tight. Please add 1px letter spacing to these components:

* Case page h1
* Related cases titles
* Full width pull quote
* h3 and h5

Case page h1
![image](https://user-images.githubusercontent.com/6118778/40248891-589733bc-5a9f-11e8-80bd-c2db9ab91b17.png)

Related cases titles
![image](https://user-images.githubusercontent.com/

[2018-05-18 17:45] jamielyn opened #62 "Decrease action promo description font size"
Decrease action promo description font size to 20px with 32px line height

Dev
![image](https://user-images.githubusercontent.com/6118778/40249600-8029a408-5aa1-11e8-91a5-53164cbcde8d.png)

[2018-05-21 14:09] lfrancis opened #63 "Article share links need to be wired up"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

The article share and print links need to be wired up with thier specific code/urlen, currently all point to Facebook.

[2018-05-21 14:11] lfrancis opened #64 "IE11 header / top nav"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![ie11top](https://user-images.githubusercontent.com/6942589/40311864-21202028-5cdf-11e8-9427-0bd6add57988.png)

[2018-05-21 14:14] lfrancis opened #65 "IE11 vs. case card"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![ie11casecard](https://user-images.githubusercontent.com/6942589/40312068-c9843f7e-5cdf-11e8-9441-20131b24c74d.png)

[2018-05-21 14:17] lfrancis opened #66 "Timeline toggle nonfunctional"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

Doesn't look like the timeline toggle is wired up yet

![timeline](https://user-images.githubusercontent.com/6942589/40312176-0ec0a712-5ce0-11e8-853b-766082ef037b.png)

[2018-05-21 14:18] lfrancis opened #67 "IE11 vs. Recent News"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![ie11recentnews](https://user-images.githubusercontent.com/6942589/40312244-4ab88028-5ce0-11e8-9a61-8ce0b67352d4.png)

[2018-05-21 14:19] lfrancis opened #68 "IE11 vs. Related Cases"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![ie11vsrelatedcases](https://user-images.githubusercontent.com/6942589/40312273-679b0f08-5ce0-11e8-952c-b29ec59ebda8.png)

[2018-05-21 14:22] tedw commented on #66
It is, did you try clicking it? It works for me but the styling was messed up because Autoprefixer was performing some destructive “optimizations.”

Original Sass

[code]

Generated CSS

[code]

Note that `border-top: 0;` resets the color and style lines above.

I change it to this:

[code]

[2018-05-21 14:22] lfrancis opened #69 "IE11 vs. Sign Petition & newsletter"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![ie11vsotherstuff](https://user-images.githubusercontent.com/6942589/40312417-d375cb28-5ce0-11e8-8864-648fc169b932.png)

[2018-05-21 14:28] lfrancis opened #70 "Menu & Footer Linked-In link MIA"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

The Menu's and Footer's Linked-In link is MIA.

[2018-05-21 14:31] lfrancis opened #71 "No match search results need styling love"
https://live-aldf-wp.pantheonsite.io/search/sdfsdfsdf/

[2018-05-21 14:35] lfrancis opened #72 "Issues item listed in footer but not menu"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

While the footer lists Issue: _Animals Used in Research_, the menu lists no issues.

[2018-05-21 14:36] tedw commented on #66
Example https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-21 14:36] lfrancis opened #73 "Newsletter signup needs to be wired up"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

[2018-05-21 14:37] lfrancis opened #74 "Footer badges need to be added"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

![honeybadger](https://user-images.githubusercontent.com/6942589/40313203-1518036e-5ce3-11e8-88f1-d07dc717585d.png)

[2018-05-21 14:42] lfrancis opened #75 "Article print styling needed"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

While it would be good to have some print css that suppresses redundant content, this text block is actually truncated in its print form:

![truncatedprintme](https://user-images.githubusercontent.com/6942589/40313339-819274a2-5ce3-11e8-9b27-ab556c2e4774.png)

[2018-05-21 14:52] lfrancis opened #76 "Need favicon, apple icons"
https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

[2018-05-21 14:53] lfrancis opened #77 "Whither sitemap.xml"
Site needs a sitemap.xml file

[2018-05-21 14:55] lfrancis opened #78 "Case fails to validate"
https://validator.w3.org/nu/?doc=https%3A%2F%2Flive-aldf-wp.pantheonsite.io%2Fcase%2Fkristen-lindsey%2F

A few stray and open elements

[2018-05-21 14:56] lizzycederberg commented on #59
@lfrancis More pages ready to go:

- Home (with donation promo on top): https://live-aldf-wp.pantheonsite.io/
- Person listing: person listing: https://live-aldf-wp.pantheonsite.io/people/
- Person detail: https://live-aldf-wp.pantheonsite.io/person/lorem-ipsum/
- Focus area (includes a fact): https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/
- Store: http://live-aldf-shop.pantheonsi

[2018-05-21 15:04] lfrancis opened #79 "Action grid badge is MIA"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

![mia](https://user-images.githubusercontent.com/6942589/40314458-8763a97a-5ce6-11e8-84b4-0c1884853a49.png)

[2018-05-21 15:07] lfrancis opened #80 "Article fails to validate"
https://validator.w3.org/nu/?doc=https%3A%2F%2Flive-aldf-wp.pantheonsite.io%2Farticle%2Ftest-article-with-components%2F

Unclosed elements, empty heading, etc.

[2018-05-21 15:16] lfrancis opened #81 "Need vertical white space to delineate subnav in mobile render"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

![spaceme](https://user-images.githubusercontent.com/6942589/40315029-4184f2f4-5ce8-11e8-8385-6a5976a23163.png)

[2018-05-21 15:19] rmundstock commented on #44
@tedw updated test issue page to include related news items with images;

https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

Largest news item does not show an image, even when a featured image is present in the article

![screen shot 2018-05-21 at 8 18 34 am](https://user-images.githubusercontent.com/5369002/40315211-955848cc-5ccf-11e8-926b-98ba622a01a8.png)

[2018-05-21 15:31] lfrancis opened #82 "Donate: Other amount not transferred to donation form"
https://live-aldf-wp.pantheonsite.io

All values on the donation promo are transferred to the target donation form except for the _Other_ amount.

[2018-05-21 15:41] lfrancis opened #83 "Donate interstitial stretched in IE11"
https://live-aldf-wp.pantheonsite.io

The aspect ratio of the Cheetahs are not preserved in IE11:

![ie11vsdonateinterstitial](https://user-images.githubusercontent.com/6942589/40316280-d5a425d8-5ceb-11e8-9ff5-440a812d10d6.png)

[2018-05-21 15:53] lfrancis opened #84 "breakpoint"
https://live-aldf-wp.pantheonsite.io

News images show up on mobile but not desktop:

![breakpoint](https://user-images.githubusercontent.com/6942589/40316797-71741814-5ced-11e8-9692-4afcf1bf7b53.png)

[2018-05-21 17:34] lfrancis opened #85 "IE11 vs Issue header"
https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

![ie11vsthe world](https://user-images.githubusercontent.com/6942589/40321024-b0fb1ef2-5cfb-11e8-9b85-5c5c14c9f261.png)

[2018-05-21 17:50] lfrancis opened #86 "People Header not indented on Safari-latest"
https://live-aldf-wp.pantheonsite.io/person/lorem-ipsum/

The People Header is not indented on Safari-latest, desktop or iOS, should it be?

![ievsindent](https://user-images.githubusercontent.com/6942589/40321690-e205c464-5cfd-11e8-9d06-5f20599ae350.png)

[2018-05-21 18:00] lfrancis opened #87 "Unexpected vertical space on Focus Area mobile render"
https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/

Also seen on iOS

![extravertical](https://user-images.githubusercontent.com/6942589/40322098-3e3b36d2-5cff-11e8-926a-1031fa71e1d1.png)

[2018-05-21 18:02] lfrancis opened #88 "IE11 vs. Focus Area billboard"
https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/

Focus Area billboard is MIA on IE11:

![ievsfocusbillboard](https://user-images.githubusercontent.com/6942589/40322218-9ff56398-5cff-11e8-88ec-63d4ae770867.png)

[2018-05-21 18:13] lfrancis opened #89 "Shop issues at mobile widths"
http://live-aldf-shop.pantheonsite.io

Footer and search field label goes away at mobile widths

![storevsmobile](https://user-images.githubusercontent.com/6942589/40322642-05ba7b4a-5d01-11e8-8344-70c13fc2e8ec.png)

[2018-05-21 18:16] lfrancis opened #90 "Shop fails validation"
http://live-aldf-shop.pantheonsite.io

See report at:
https://validator.w3.org/nu/?doc=http%3A%2F%2Flive-aldf-shop.pantheonsite.io

[2018-05-21 18:21] lfrancis commented on #90
Wow, something about this page actually causes SortSite to give up the ghost!

[2018-05-21 18:48] lizzycederberg commented on #39
@tedw We don't need to worry about this anymore -- they are manually migrating all images

[2018-05-21 18:48] #39 closed

[2018-05-21 18:49] lizzycederberg commented on #38
@tedw No action needed here. They removed all the links in the content and will be readding them as needed

[2018-05-21 18:49] #38 closed

[2018-05-21 19:03] lfrancis opened #91 "Enhance!"
http://live-aldf-shop.pantheonsite.io/product/aldf-womens-t-shirt/

We could probably provide some guidance to the client about helpful sizes of shop assets, the original and the zoomed version. Too small a zoom image and the feature becomes pointless, too large a zoom image and you get this:

![zoomme](https://user-images.githubusercontent.com/6942589/40324830-c0ce01a8-5d07-11e8-9cbe-d5e0ca687bc7

[2018-05-21 19:05] Henryhankdc commented on #59
@lfrancis Here are the details so far for QA for the ALDF Shop

**SHOP**
**Test**: http://test-aldf-shop.pantheonsite.io/
**Live**: http://live-aldf-shop.pantheonsite.io/

_Although the client will be eventually entering content on the live site, they do not have access to add content to it yet._

**Pages ready to:**
- Landing Page
- Details pages where we have put content in

The checkout process

[2018-05-21 19:06] lfrancis opened #92 "Whither angle bracket?"
http://live-aldf-shop.pantheonsite.io/product/aldf-womens-t-shirt/

I'm guesisng that angle bracket after _description_ isn't supposed to off floating in space on its own?

![angled](https://user-images.githubusercontent.com/6942589/40324989-47ec4d84-5d08-11e8-9205-80f4b7658e58.png)

[2018-05-21 19:16] lfrancis opened #93 "Safari-desktop lacks selected element block outline"
http://live-aldf-shop.pantheonsite.io/product/aldf-womens-t-shirt/

First up is Safari-latest, second is FFX 54:

![outlined](https://user-images.githubusercontent.com/6942589/40325484-e2312b3e-5d09-11e8-9c77-20095b70158a.gif)

[2018-05-21 19:46] tedw commented on #5
@rmundstock Could you please add each of those social embeds to a demo article so we can test them? Thanks!

[2018-05-21 19:48] tedw commented on #43
I adjusted the styles because we need inactive, inactive hover, active, and active hover styles. CC: @lfhello

[2018-05-21 19:52] tedw commented on #45
Where do you see 20% in the Sketch file? The homepage has the opacity set ~80%, which I assume is what Mat went off of.

![screen shot 2018-05-21 at 3 50 20 pm](https://user-images.githubusercontent.com/864716/40326865-cffb6cfe-5d0e-11e8-8f0f-0dba0e10a11d.png)

[2018-05-21 19:55] rmundstock commented on #5
@tedw https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-22 15:26] jamielyn commented on #45
@tedw I was going off of the designs in InVision and adjusted the opacity in the dev tools to 20% to match the design. @lfhello can advise further on intended styling.

[2018-05-22 15:41] jamielyn opened #94 "Person listing: H1 adjustments"
### Add about 40px above h1
There should be around 40px between the thick rule and the h1.

Dev
![image](https://user-images.githubusercontent.com/6118778/40373417-d7127f04-5db4-11e8-9576-a4cd2424aeb0.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40373428-dd653298-5db4-11e8-85ac-753244bb3701.png)

https://live-aldf-wp.pantheonsite.io/people/

[2018-05-22 15:43] jamielyn opened #95 "Person listing: Rule missing after each person"
https://live-aldf-wp.pantheonsite.io/people/

There should be a 1px rule after each person in the list. It's currently only appearing after the last person in the list.

Dev
![image](https://user-images.githubusercontent.com/6118778/40373558-24605718-5db5-11e8-8d73-77149cb0e828.png)

![image](https://user-images.githubusercontent.com/6118778/40373569-2d14c7b8-5db5-11e8-8daf-51d2554eb2db.png)

[2018-05-22 15:54] jamielyn opened #96 "Focus area: Title block adjustment"
Texture missing from the green rule above the h1

Dev
![image](https://user-images.githubusercontent.com/6118778/40374259-b568a688-5db6-11e8-9cef-2af08abc8f74.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40374284-c04aff92-5db6-11e8-88b5-9b9da1d63e8b.png)

https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/

[2018-05-22 15:58] jamielyn opened #97 "Focus area: Factoid rule adjustments"
### The rules before and after green fact should be 1px and gray (#979797)

Dev
![image](https://user-images.githubusercontent.com/6118778/40374438-100dcd34-5db7-11e8-8d4f-36ce521734a9.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40374451-16531f6e-5db7-11e8-9607-ed9175ef6615.png)

### On mobile, there should be around 40px between fact and body copy
![image](https://user

[2018-05-22 16:00] lfrancis opened #98 "Shopping cart drop-down legibility issues"
http://live-aldf-shop.pantheonsite.io/product/aldf-womens-t-shirt/

Dunno if this was ready for testing, but fwiw:

![cart](https://user-images.githubusercontent.com/6942589/40374694-9366c32a-5db7-11e8-9ea4-5e29751388e6.png)

[2018-05-22 16:02] jamielyn opened #99 "Person detail: H1 is indented"
https://live-aldf-wp.pantheonsite.io/person/lorem-ipsum/

The h1 is indented and should be Untitled Serif instead of Helvetica.

Dev
![image](https://user-images.githubusercontent.com/6118778/40374735-a52234e6-5db7-11e8-8e71-2ab4973f4bb0.png)

Design
![image](https://user-images.githubusercontent.com/6118778/40374770-c02f2c76-5db7-11e8-8807-ee5485247e15.png)

[2018-05-22 16:48] jamielyn opened #100 "2-up issue promo: Shield shadow missing"
https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

The shadow on the shield is missing from the first promo on the left. The one on the right looks good.

![image](https://user-images.githubusercontent.com/6118778/40377184-4a8c3d4a-5dbe-11e8-889e-7f4323924605.png)

[2018-05-22 16:53] tedw commented on #49
Updated

[2018-05-22 16:53] tedw commented on #48
Update deployed.

FYI, the thicker shield is what was designed for mobile so I left it. Did you run this by Monte/Laura?

[2018-05-22 16:59] jamielyn opened #101 "Project subnav: Remove 2px border"
Remove 2px dark green border on top of the overview section on desktop

![image](https://user-images.githubusercontent.com/6118778/40377825-e1e14f54-5dbf-11e8-893d-b04b73eeb902.png)

https://live-aldf-wp.pantheonsite.io/project/lorem-ipsum-dolor-sit-amet/#resources

[2018-05-22 17:17] jamielyn commented on #48
The hover looks good. @lfhello and I discussed the stroke width before I filed this ticket. Reassigning so you two can discuss further.

[2018-05-22 17:19] jamielyn commented on #49
:heavy_check_mark:

[2018-05-22 17:19] #49 closed

[2018-05-22 17:20] tedw commented on #48
Ok cool, will update, just wanted to make sure you had seen the mobile comp :)

[2018-05-22 17:32] tedw commented on #71
Search page is not ready for QA

[2018-05-22 17:48] tedw commented on #70
I think this was a caching issue, they are visible now.

[2018-05-22 17:49] jamielyn opened #102 "Home: Adjust focus area title styling"
Use heading three styling for "Join us. Help us protect:"

Untitled Serif
font-size: 32px
line-height: 40px

![image](https://user-images.githubusercontent.com/6118778/40380376-ec064f32-5dc6-11e8-800d-ff90f7247765.png)

https://live-aldf-wp.pantheonsite.io/

[2018-05-22 17:50] tedw commented on #79
Looks fine to me, is it still missing for you?

[2018-05-22 17:56] lfrancis commented on #79
Still missing on all browsers

[2018-05-22 17:57] lfrancis commented on #70
Confirmed addressed

[2018-05-22 17:57] #70 closed

[2018-05-22 18:00] lfrancis commented on #65
Confirmed addressed

[2018-05-22 18:00] #65 closed

[2018-05-22 18:04] tedw commented on #64
Fixed

[2018-05-22 18:50] lizzycederberg opened #103 "Engaging Networks Wrapper"
@tedw More info on Engaging Networks:

**IMPORTANT: The "ALDF Bootstrap Template" and all forms are LIVE on aldf.org, so no changes should be made directly to those items. Copies should be made.**

The clientdev@threespot.com account that's store in 1password now has access to all the ALDF donation templates and forms. From what I can tell from poking around, all the forms are using the same "ALDF

[2018-05-22 19:09] tedw commented on #90
@Henryhankdc Can you please address the following issues? We can safely ignore the rest in that report.

**1. Update meta viewport tag to allow scaling**

Current
`<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">`

Desired
`<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">`

**2. Figure out why this link

[2018-05-22 19:13] tedw commented on #84
I see them now, perhaps it was a caching issue.

[2018-05-22 19:25] tedw commented on #83
This is fixed now

[2018-05-22 19:27] tedw commented on #82
The Engaging Networks form uses the same field name for the pre-defined amount radios and the other amount text box, but my form uses separate names to pass validation.

I fixed this by adding some JS to dynamically update the other amount field name.

[2018-05-22 19:27] tedw commented on #79
Ah, it's because the 1x image is missing but the 2x image is there, which is what I was seeing. Looks like the 1x image file name had a typo. Fixed now (a3fa42ee21d458b11c8cf1488c93d988b006347c).

[2018-05-22 19:52] lfhello commented on #45
@tedw Hi Ted, yes, I've tried it at both opacities- this is on me and not any of you!

I think 20% is closer to what I was wanting- so that the type stands out more and the landscape takes a backseat.

Thanks

[2018-05-22 19:55] lfhello commented on #91
@lfrancis Yes- Henry and I spoke about this- the ideal size is 800px square I believe ( @Henryhankdc ?)

We wanted to share various sizes with them to show what will happen if they have a larger or smaller image place. There is going to be a walk-through of the shop with ALDF.

Thanks for checking in!

[2018-05-22 19:59] lfrancis commented on #84
Still seeing the missing images, high res images?

[2018-05-22 19:59] lfhello commented on #92
@lfrancis I don't know if we need to make a new ticket in the Shop repo but her eis a link https://github.com/Threespot/aldf-shop

And @Henryhankdc if we can move that arrow to right after Description, that'd be great- thanks!

[2018-05-22 20:02] lfrancis commented on #83
Confirmed addressed

[2018-05-22 20:02] #83 closed

[2018-05-22 20:07] lfrancis commented on #82
On Safari latest if you enter an other amount and hit donate, then hit the back button and select $25 and hit donate again, you get the first value entered in the Other field + a comma character.

[2018-05-22 20:11] lfrancis commented on #79
Confirmed addressed

[2018-05-22 20:11] #79 closed

[2018-05-22 20:13] lfrancis commented on #69
Confirmed addressed

[2018-05-22 20:13] #69 closed

[2018-05-22 20:13] lfrancis commented on #68
Confirmed addressed

[2018-05-22 20:13] #68 closed

[2018-05-22 20:13] lfrancis commented on #67
Confirmed addressed

[2018-05-22 20:13] #67 closed

[2018-05-22 20:16] tedw commented on #103
We will create a new "theme" that can be applied to the old donation form page once the new site is live. We will test using this copy https://give.aldf.org/page/5457/donate/1

[2018-05-22 20:17] lfrancis commented on #64
IE11's top navbar is still taller than expected:

![topnavvsie11](https://user-images.githubusercontent.com/6942589/40387741-919778d6-5ddb-11e8-9419-85c064f1d185.png)

[2018-05-23 15:04] lizzycederberg opened #104 "Add page builder above Related Cases and News on Issue pages"
@tedw ALDF wants to be able to add the page builder components both above and below the Related Cases and News section so she can insert things that are related to the issue.

Can you please make that available in both places? And I'd like to get this done on the live site ASAP since it's blocking content entry.

[2018-05-23 16:13] tedw commented on #2
@rmundstock Since “Legal Resources” is now an Article Type, and since we’re planning to build one listing page template that will work for all Article Types, can we cut the custom filters for “Legal Resources?” The only one we would be missing is “Case Status,” since “Content Type” would always be “Article” now.

[2018-05-23 16:22] matbrady commented on #2
@rmundstock
1. Do we still need a Legal Resources archive page since it is an article type of the Article post type?
 a.  If yes, `Article Type` and `Case Status` don't seem relevant anymore. Can they be removed?
2. Similar question for Events. Do we need a specific archive page?
 a. `Article Type` filter is no longer needed.

[2018-05-23 16:40] rmundstock commented on #2
@tedw @matbrady

1. Do we still need a Legal Resources archive page since it is an article type of the Article post type?
 a. No, it is an article type
2. Similar question for Events. Do we need a specific archive page?
 a. No, it is an article type

[2018-05-23 16:57] tedw commented on #2
@matbrady The idea is to have a single Article Type listing page that updates the header text for the currently selected Article Type. So as far as the client and end users are concerned, there will be custom listing pages for Legal Resources, Events, Action Alerts, News, and every other Article Type they add ([full list](https://live-aldf-wp.pantheonsite.io/wp/wp-admin/edit-tags.php?taxonomy=arti

[2018-05-23 17:03] lizzycederberg commented on #59
@lfrancis One more item:

- Image gallery (after the timeline): https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-05-23 18:14] tedw commented on #104
Done

[2018-05-23 19:49] Henryhankdc commented on #92
@lfrancis and @lfhello Although the angle bracket looks sad and lonely hanging out there it does server a purpose. In this theme it points to the corresponding content displayed when the user clicks one of these options. Whichever options is currently selected is where the bracket will appear. The built in style is to be placed at the end of each row. Let me know if you would like me to try to cus

[2018-05-23 20:01] lfhello commented on #92
@Henryhankdc I don't mind it over there- I remember what it's pointing to and I think users will still know how to interact with it. If it's a bigger lift to adjust that, I can live with it there.

[2018-05-24 12:59] Henryhankdc commented on #90
@lfrancis and @tedw both 1 and 2 have been addressed.

[2018-05-24 13:03] tedw commented on #90
@Henryhankdc Still seems to be an unclosed tag somewhere, see item 14 in the validation report:
https://validator.w3.org/nu/?doc=http%3A%2F%2Flive-aldf-shop.pantheonsite.io

[2018-05-24 15:56] Henryhankdc commented on #89
@lfrancis Mobile nav button has had color change as per instruction of @jamielyn  via [aldf shop issue #3](https://github.com/Threespot/aldf-shop/issues/3) and the sticky footer issue has also been address via the task on [aldf shop issue #4 ](https://github.com/Threespot/aldf-shop/issues/4)

[2018-05-25 17:34] Henryhankdc commented on #93
removed selected element block line on click using what-input.js library as per suggestion of @tedw. Selected element block line appears on tab, but not click.

[2018-05-25 20:05] jamielyn opened #105 "Search: Truncate filter facets with ellipsis"
Truncate longer facet labels with an ellipsis after ~15 characters

Design
![image](https://user-images.githubusercontent.com/6118778/40564079-4b6ba3ee-6035-11e8-9748-7829535b6c60.png)

[2018-05-29 13:34] tedw commented on #2
@rmundstock LMK if you want to change any of the URLs

Search
http://live-aldf-wp.pantheonsite.io/search/test/

Cases
http://live-aldf-wp.pantheonsite.io/cases/

Articles
http://live-aldf-wp.pantheonsite.io/articles/

Take Action (Actions)
http://live-aldf-wp.pantheonsite.io/take-action/

[2018-05-29 14:17] lizzycederberg opened #107 "Claim site in GSC"
@LizLord Please claim the site in Search Console. It will be moving from `http` > `https` at launch.

Note: When we go live there will be two domains `aldf.org` and `shop.aldf.org`

The shop currently lives here: https://www.cafepress.com/aldf

[2018-05-29 15:34] lfhello opened #108 "Glossary styling"
http://live-aldf-wp.pantheonsite.io/glossary/

- [x] we do not need pagination for the Glossary page- it can be a long scrolling page
- [x] content well the same width as listing page (680px)
- [x] can we style the header like a listing page (brown bar at top)

![screen shot 2018-05-29 at 11 31 04 am](https://user-images.githubusercontent.com/17705791/40668958-cd5f1466-6333-11e8-9808-107bfcab668a.

[2018-05-29 17:00] LizLord commented on #107
@lizzycederberg
in re: my earlier comment - ALDF already has a GTM account on their current aldf.org site. Please request access to that w/ publish permissions too which will allow us to claim the site in Search Console and prepare for tagging the new site.

[2018-05-30 14:06] tedw commented on #76
@Henryhankdc I uploaded the icons the the meta tag HTML to use here:
https://github.com/Threespot/aldf-wp/tree/master/web/wp-content/themes/aldf/resources/assets/images/app-icons

[2018-05-30 14:08] tedw commented on #74
Done

[2018-05-30 14:09] LizLord opened #109 "Add GTM container"
[No action yet - waiting for account access/confirmation for container GTM-5NG4QP]

[2018-05-30 14:12] tedw commented on #73
@lizzycederberg We need this info from ALDF.

[2018-05-30 14:13] tedw commented on #77
@Henryhankdc I’m not sure what the best way is to generate a sitemap in WP, can you look into it?

[2018-05-30 14:14] tedw commented on #75
I haven't added any print styles yet

[2018-05-30 15:13] tedw commented on #80
Something seems amiss with the gallery images

[2018-05-30 15:31] tedw commented on #80
The gallery images are lazy loaded and did not have a `src` attribute. I added an inline 1px transparent gif as the fallback. Still not sure where the unclosed `<span>` is coming from, code looks fine.

[2018-05-30 15:32] tedw commented on #80
@Henryhankdc Can you check the code near each instance of `<span class="MetaRow-item">{{ get_the_date() }}</span>` to see if there is a syntax error?

[2018-05-30 16:11] tedw commented on #88
Fix, awaiting deployment

[2018-05-30 16:15] Henryhankdc commented on #80
@ted I think I found the extra `<span>`. Branch has been pushed for review.

[2018-05-30 16:44] tedw commented on #87
Fixed, awaiting deployment

[2018-05-30 16:55] tedw commented on #86
Fixed, awaiting deployment

[2018-05-30 16:59] tedw commented on #85
Fixed, awaiting deployment

[2018-05-30 17:02] tedw commented on #71
Ready for testing now

Search
http://live-aldf-wp.pantheonsite.io/search/test/

Cases
http://live-aldf-wp.pantheonsite.io/cases/

Articles
http://live-aldf-wp.pantheonsite.io/articles/

Take Action (Actions)
http://live-aldf-wp.pantheonsite.io/take-action/

[2018-05-30 17:16] tedw commented on #88
Ready for testing

[2018-05-30 17:17] tedw commented on #86
Ready for testing

[2018-05-30 17:18] tedw commented on #85
Ready for testing

[2018-05-30 17:18] tedw commented on #64
Seems fine now, can you test again?

[2018-05-30 18:09] Henryhankdc commented on #76
added icons

[2018-05-30 19:33] Henryhankdc commented on #77
@ted YOAST handles this and it should be updated when the site is finished. You can view the current sitemap here https://live-aldf-wp.pantheonsite.io/sitemap_index.xml

[2018-05-30 19:37] Henryhankdc commented on #63
@tedw  Seems like these are working. I added `target=_blank` to the fb and twitter links.

[2018-05-31 01:32] tedw commented on #63
@Henryhankdc Sorry, I should have been more clear. We still need to integrate the description text:
https://github.com/Threespot/aldf-wp/blob/master/web/wp-content/themes/aldf/resources/views/partials/share-links.blade.php#L8

`$description = esc_url("FIXME");`

I was also wondering if there was an easy way to get any custom social sharing text from Yoast if available.

[2018-05-31 01:35] tedw commented on #76
@Henryhankdc I'm not seeing any of your commits, did you push to the remote branch?
https://github.com/Threespot/aldf-wp/commits/issue-76

[2018-05-31 02:08] tedw commented on #51
Updated, measured 30px from baseline of date to cap height of “Share.” LMK if you want to measure to the vert rules instead.

[2018-05-31 04:33] tedw commented on #54
@lfhello Didn’t we decide to put the donate button at the top?

[2018-05-31 04:43] tedw commented on #56
Mat fixed this

[2018-05-31 04:44] tedw commented on #47
I think this was incomplete when you reviewed it, looks good now.

[2018-05-31 04:46] tedw commented on #58
I think this was unfinished when you reviewed it, looks good now.

[2018-05-31 04:49] tedw commented on #61
Do you want 1px letter-spacing regardless of font-size or do you want it to scale proportionately with the font-size?

[2018-05-31 04:53] tedw commented on #82
@lizzycederberg I'm inclined to say this is an acceptable edge case for now. Would probably take 1–2 hours to investigate and fix.

[2018-05-31 04:54] tedw commented on #84
Was missing low-res images due to a typo, fixed now.

[2018-05-31 04:59] tedw commented on #102
I think Mat didn’t have that font installed at first so thought that's what the text should look like 😆

Fixed now.

[2018-05-31 13:29] Henryhankdc commented on #76
@tedw no idea what happened there. Changes are part of the 404-page branch now.

[2018-05-31 13:40] lizzycederberg commented on #59
@lfrancis Search is ready for you!

@tedw Please advise on whether this should be tested on the TEST or LIVE site.

[2018-05-31 13:41] lizzycederberg commented on #107
@LizLord David said he's made us Editors and added us to GTM. Can you please validate?

[2018-05-31 13:43] lizzycederberg opened #110 "YouTube Key"
@tedw David tried to follow your instructions on getting a Key for YouTube, but ran into an issue -- please advise:

For YouTube, I followed the steps you outlined, but didn’t see a public key generated. It’s possible that I need to generate “credentials…” Can you advise on the settings in the screenshot attached?

![image002](https://user-images.githubusercontent.com/13699106/40785628-08d4c9bc-64

[2018-05-31 13:47] jamielyn commented on #47
:white_check_mark:

[2018-05-31 13:47] #47 closed

[2018-05-31 13:48] jamielyn commented on #56
:cat:

[2018-05-31 13:48] #56 closed

[2018-05-31 13:49] jamielyn commented on #58
:dog:

[2018-05-31 13:49] #58 closed

[2018-05-31 13:52] jamielyn commented on #102
:koala:

[2018-05-31 13:52] #102 closed

[2018-05-31 13:56] jamielyn commented on #51
:tiger:

[2018-05-31 13:56] #51 closed

[2018-05-31 13:57] tedw commented on #59
Please test on the **live** site unless told otherwise.

After the site launches, we use the staging site, which Pantheon calls “test.”

[2018-05-31 14:03] lfhello commented on #54
@tedw yes, we decided to move it up- Jamielyn was primarily looking at older InVision comps.

I do feel like Search is getting lost at the bottom now and I'm wondering if we make Search brown like it is in the dropdown on desktop

![screen shot 2018-05-31 at 10 02 09 am](https://user-images.githubusercontent.com/17705791/40786724-c25b3928-64b9-11e8-83b0-b11f0a6bb9c3.png)

[2018-05-31 14:15] lfhello commented on #52
Hey @tedw just checking in to see if you had a specific reason for not adding the image?

I think it'd be a nice touch, but is not a priority- thanks!

[2018-05-31 14:20] jamielyn commented on #43
:bear:

[2018-05-31 14:20] #43 closed

[2018-05-31 14:27] lfrancis commented on #98
Closing as addressed

[2018-05-31 14:27] #98 closed

[2018-05-31 14:29] lfrancis commented on #93
Confirmed addressed

[2018-05-31 14:29] #93 closed

[2018-05-31 14:32] jamielyn commented on #61
1px letter-spacing regardless of font-size. Thanks!

[2018-05-31 14:32] lfrancis commented on #92
So is the consensus to leave it where it is and not move it to the end of the description copy?

[2018-05-31 14:33] lfrancis commented on #90
Confirmed addressed

[2018-05-31 14:33] #90 closed

[2018-05-31 14:34] lfrancis commented on #89
Confirmed addressed

[2018-05-31 14:34] #89 closed

[2018-05-31 14:37] lfrancis commented on #88
Confirmed addressed

[2018-05-31 14:37] #88 closed

[2018-05-31 14:38] lfrancis commented on #87
Confirmed addressed

[2018-05-31 14:38] #87 closed

[2018-05-31 14:40] lfrancis commented on #86
Confirmed addressed

[2018-05-31 14:40] #86 closed

[2018-05-31 14:40] lfrancis commented on #85
Confirmed addressed

[2018-05-31 14:40] #85 closed

[2018-05-31 14:41] #84 closed

[2018-05-31 14:42] lfrancis commented on #77
Confirmed addressed

[2018-05-31 14:42] lfrancis commented on #74
Confirmed addressed

[2018-05-31 14:42] #74 closed

[2018-05-31 14:46] lfrancis opened #111 "Search results headings don't wrap in IE11"
http://live-aldf-wp.pantheonsite.io/search/test/page/18

![saveme](https://user-images.githubusercontent.com/6942589/40789191-cedc4f4c-64bf-11e8-9bee-6e1083f0e254.png)

[2018-05-31 14:48] lfrancis commented on #71
Confirmed addressed

[2018-05-31 14:48] #71 closed

[2018-05-31 14:50] lfrancis opened #112 "Pagination broken on Search Articles"
http://live-aldf-wp.pantheonsite.io/articles/

Navigating to any of the pagination options results in an unstyled error apge:

![stylemejesus](https://user-images.githubusercontent.com/6942589/40789381-45186f38-64c0-11e8-8026-7879a2b7fe68.png)

[2018-05-31 14:59] lfrancis commented on #64
So the vertical height is consistent, but the logo renders smaller on IE11 for some reason:

![ie11smalllogo](https://user-images.githubusercontent.com/6942589/40789968-b1d055ae-64c1-11e8-86c8-ef92d4c4fa3e.png)

[2018-05-31 15:08] lfrancis opened #113 "Components fail validation"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/ fails validation at https://validator.w3.org/nu/?doc=https%3A%2F%2Flive-aldf-wp.pantheonsite.io%2Farticle%2Ftest-article-with-components%2F

Many of these are FOL, but there are a few that seem worth examining.

[2018-05-31 15:12] lfrancis opened #114 "Article mailto needs finishing"
https://live-aldf-wp.pantheonsite.io/article/the-animal-legal-defense-fund-files-first-brief-in-monkeygate-appeal/

![mailmemaybe](https://user-images.githubusercontent.com/6942589/40790630-74f6ea9c-64c3-11e8-8276-a35703924735.png)

[2018-05-31 16:53] tedw commented on #114
Related to #63

[2018-05-31 18:04] lfhello commented on #92
Yes, I think we can keep it where it is @lfrancis  @Henryhankdc .

It does directly point to the area where the information is shown.

If it were taking you to another page, I would want it moved closer to Description, but since it is just revealing information on the same page, it's actually easier to see what is changing.

![screen shot 2018-05-31 at 10 49 58 am](https://user-images.githubuserco

[2018-05-31 19:10] tedw commented on #14
Ready for QA http://live-aldf-wp.pantheonsite.io/404

[2018-05-31 19:10] tedw commented on #76
Ready for review

[2018-05-31 20:05] jamielyn opened #115 "404 VQA"
On mobile, can we move the search button up, so it stays in line with the field? This way it will match the mobile search listing page.

http://live-aldf-wp.pantheonsite.io/404

Dev
![image](https://user-images.githubusercontent.com/6118778/40805478-5f4c823c-64ec-11e8-93bf-5a816f5fbb8d.png)

Search listing
![image](https://user-images.githubusercontent.com/6118778/40805452-50400e1c-64ec-11e8-8017-

[2018-05-31 20:39] tedw commented on #72
The man nav code that populates the Focus Areas and How We Work types seems to be affected by some code on the case page. This only happens on case pages AFAIK.

[2018-05-31 20:40] tedw commented on #81
Addressed by #57

[2018-05-31 20:42] tedw commented on #44
I think these issues have all been previously addressed. Can you all please take a look?

[2018-05-31 20:43] tedw commented on #95
This has since been changed to match the new content listing page styles. LMK if you want to make changes.

[2018-05-31 21:07] jamielyn commented on #95
:monkey_face:

[2018-05-31 21:07] #95 closed

[2018-05-31 21:08] jamielyn commented on #94
:pig:

[2018-05-31 21:08] #94 closed

[2018-05-31 21:09] jamielyn commented on #60
:sheep:

[2018-05-31 21:09] #60 closed

[2018-05-31 21:20] jamielyn commented on #57
This might not have been clear from the screenshots above, but @lfhello and I talked about making the first item "Test Article With Components" title case instead of all caps. All of the sub nav links would then look the same. Can we make this change?

Comp
![image](https://user-images.githubusercontent.com/6118778/40808741-174ea406-64f6-11e8-8363-b2f3c1f8b66e.png)

Everything else looks great!

[2018-06-01 02:11] tedw commented on #72
Was due to conflicting variable names on the case page. Fixed now.

[2018-06-01 02:44] tedw commented on #115
Updated

[2018-06-01 03:18] tedw commented on #99
This was previously fixed

[2018-06-01 03:31] tedw commented on #110
Looks like the interface changed slightly since I last originally wrote those instructions.

He should go here:
https://console.cloud.google.com/apis/library/youtube.googleapis.com/?q=youtube

Then click the "Enable" button.  On the next screen, he should click the "Credentials" link in the left sidebar. He will then see a "Create Credentials" menu, which he should click and select “API Key”

![sc

[2018-06-01 04:15] tedw commented on #54
Updated

[2018-06-01 04:17] tedw commented on #52
Because it's not necessarily a quick update and would probably benefit from prototyping to see if the hover interaction feels weird, since this isn’t a common design pattern we use often.

[2018-06-01 04:27] tedw commented on #57
If we do this, there won’t be any visual hierarchy between the parent heading and the child links. Is there something else we can do, like indent the children?

[2018-06-01 04:29] tedw commented on #64
This is due to IE 11 not respecting SVG’s intrinsic aspect ratio when resizing with CSS. This is the closest I can get it without doing a lot fo extra work.

[2018-06-01 04:32] tedw commented on #112
Was due to typo, fixed now.

[2018-06-01 13:38] jamielyn commented on #115
:hatched_chick:

[2018-06-01 13:38] #115 closed

[2018-06-01 13:39] jamielyn commented on #101
:turtle:

[2018-06-01 13:39] #101 closed

[2018-06-01 13:40] jamielyn commented on #100
:penguin:

[2018-06-01 13:40] #100 closed

[2018-06-01 13:41] lizzycederberg opened #116 "Cookie alert"
@tedw David asked us to add one of those alerts to the site that would appear when users first arrive to tell them the site uses cookies.

I'm wondering if it's possible to reuse the top-hat alert, but make it really low profile and small?

He also asked if there's a way to do this with a plugin, because he wants it on their current site too.

[2018-06-01 13:42] jamielyn commented on #97
:octopus:

[2018-06-01 13:42] #97 closed

[2018-06-01 13:42] lizzycederberg opened #117 "Redirects"
@tedw David said there are about 600 existing redirects on aldf.org that will need to be setup on the new site. Is there a way to import those? Can he do it in the CMS?

(note: there were over 2,000 originally, but he doesn't want to keep the others)

[2018-06-01 13:42] jamielyn commented on #96
:frog:

[2018-06-01 13:42] #96 closed

[2018-06-01 13:44] lizzycederberg opened #118 "Plugins"
@tedw David said he's not currently able to add plugins to the site and asked if that will change once we launch. I'm not sure what he's trying to add, but said I would ask you about it.

[2018-06-01 13:45] jamielyn commented on #54
:poodle:

[2018-06-01 13:45] #54 closed

[2018-06-01 13:46] jamielyn commented on #48
:cat2:

[2018-06-01 13:46] #48 closed

[2018-06-01 13:47] jamielyn commented on #45
:horse:

[2018-06-01 13:47] #45 closed

[2018-06-01 14:07] lfrancis commented on #112
Confirmed addressed

[2018-06-01 14:07] #112 closed

[2018-06-01 14:08] lfrancis commented on #111
Confirmed addressed

[2018-06-01 14:08] #111 closed

[2018-06-01 14:11] tedw commented on #118
No, he won’t be able to add plugins via the admin. The only way to add plugins is by editing the code and deploying to Pantheon. This is enforced by Pantheon and is a best practice for security reasons. It also ensures admins can’t accidentally break the site by introducing a plugin that has compatibility issues with other plugins or any of the site’s core code. A developer must add the plugin and

[2018-06-01 14:13] lfrancis commented on #81
Confirmed addressed

[2018-06-01 14:13] #81 closed

[2018-06-01 14:14] lfrancis opened #119 "Component lacks padding/margin in mobile render"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

This component lacks padding/margin in mobile render:

![img_d43822d7cfc6-1](https://user-images.githubusercontent.com/6942589/40845377-84ea10a2-6584-11e8-81ad-101a3e20b2f1.jpeg)

[2018-06-01 14:16] lfrancis commented on #72
Confirmed addressed

[2018-06-01 14:16] #72 closed

[2018-06-01 14:16] lfrancis commented on #64
@lizzycederberg FYI in case this comes up

[2018-06-01 14:20] lfrancis commented on #14
Confirmed addressed

[2018-06-01 14:20] #14 closed

[2018-06-01 14:27] tedw commented on #80
Fixed now. Remaining errors/warning are either FOL (e.g. lazy-loaded images use `sizes` attribute without a `srcset` attribute, which is added with JS) or acceptable (e.g. redundant role attribute on HTML5 section elements).

[2018-06-01 14:33] lfrancis commented on #113
Do we not care about line 6:

`Error: Bad value  for attribute id on element h5: An ID must not be the empty string.`
`From line 389, column 1; to line 389, column 10`
`llat.</p>↩<h5 id=""></h5>↩`

[2018-06-01 14:34] lfrancis commented on #80
Confirmed addressed

[2018-06-01 14:34] #80 closed

[2018-06-01 14:34] lfrancis commented on #78
Confirmed addressed

[2018-06-01 14:34] #78 closed

[2018-06-01 14:41] lfrancis commented on #76
Confirmed addressed

[2018-06-01 14:41] #76 closed

[2018-06-01 14:58] tedw commented on #117
Yes, I just installed the same redirect plugin they are using on the old site (which is a good one) so they can easily import the redirects.

https://live-aldf-wp.pantheonsite.io/wp/wp-admin/tools.php?page=redirection.php

**NOTE**: They were previously creating duplicate redirects for Salsa pages to add different tracking numbers. This can actually be done with a single redirect using the pattern

[2018-06-01 15:00] tedw commented on #113
This is a content-entry issue. The client needs to delete the empty heading in the wysiwyg editor.

[2018-06-01 15:51] jamielyn commented on #61
:panda_face:

[2018-06-01 15:51] #61 closed

[2018-06-01 15:55] jamielyn commented on #99
Thanks, the spacing looks good. The h1 is set in Untitled Serif in the designs, not Helvetica. Did you and @lfhello talk about this change?

[2018-06-01 17:08] LizLord commented on #107
@lizzycederberg
GTM and GA access is confirmed for http://aldf.org but not the cafepress.com/aldf site.
Google Search Console verification failed - the GTM container code is in the wrong place on the site and Google won't confirm. (this is actually a really good thing so no one else can de-index your site)
We'll need to verify both the sites with alternate method. The options available to us inclu

[2018-06-01 17:19] LizLord commented on #109
Add container GTM container GTM-5NG4QP to the new site

[2018-06-01 17:20] jamielyn commented on #57
The concern was that the first item doesn't appear clickable because it's treated like a heading. Ideally, there would be some sort of "In this section" heading above the links. I'll let @lfhello  make the call on this.

[2018-06-01 17:32] jamielyn commented on #44
On tablet/mobile, the 1px rules are orange. Please change the color to gray so they match the other listing rules.

1px solid rgba(74,61,49,.5)

![image](https://user-images.githubusercontent.com/6118778/40854667-26f13298-65a0-11e8-8719-414d9456addc.png)

[2018-06-01 17:50] tedw commented on #57
Sure, makes sense

[2018-06-01 18:38] tedw commented on #44
This was something Laura and I discussed during development.

@lfhello please advise

[2018-06-01 19:02] tedw commented on #99
No, this was probably because Mat didn’t have Untitled Serif installed and thought it was supposed to be Helvetica :P

[2018-06-01 19:03] tedw commented on #75
Will work on print styles during the last week in June

[2018-06-03 19:08] tedw opened #120 "Replace image gallery dots with numbers"
This will prevent the dots from wrapping in mobile when there are a lot of images.

![screen shot 2018-06-03 at 3 07 48 pm](https://user-images.githubusercontent.com/864716/40890176-f0ec3458-673f-11e8-9c3b-3553d488e89f.png)

[2018-06-04 01:51] tedw commented on #120
Removing the dots entirely is easy, either with CSS or by disabling them in Flickity using `pageDots: false` (docs), but there is no simple way to switch to numbers.

One approach is to make the dots visually hidden and use CSS counters to show the number of the selected dot. We would still need to add some custom JS to add the total number of dots, but that should not be too difficult.

[2018-06-04 03:33] tedw commented on #37
Updated. I also added a "Focus Area" column to both since I thought it would be useful.

[2018-06-04 03:34] tedw commented on #119
This ended up requiring a major refactor to allow reusable components to be placed in any layout. Would be good to do a regression test of each page type.

[2018-06-04 13:33] lfhello commented on #99
Looks good!

[2018-06-04 13:33] #99 closed

[2018-06-04 13:48] lfhello commented on #44
@tedw
yes, we decided to make them all the thin yellow on mobile so they are equal and not distracting- thanks for checking in

[2018-06-04 13:48] #44 closed

[2018-06-04 13:50] lfhello opened #121 "Live site- Recent news missing featured"
@tedw

On this link https://live-aldf-wp.pantheonsite.io/case/kristen-lindsey/

The **featured news article doesn't show up on desktop**, but shows up on mobile with an image.

Mobile- featured and then the two secondary articles
![screen shot 2018-06-04 at 9 48 13 am](https://user-images.githubusercontent.com/17705791/40921120-96bc47fa-67dc-11e8-8293-56636f9bfef0.png)

Desktop- two secondary arti

[2018-06-04 14:12] lfhello commented on #57
Right now the parent page does not look clickable so keeping the hierarchy while also making sure it feels clickable is what we need.

@tedw indenting is a great idea but it still makes the parent page feel like a title instead of it's own page.

Alright, so @rmundstock and I just talked and came up with this solution- Ted, let me know if you want to chat about this:

The full arrow and bold will

[2018-06-04 14:25] lfhello commented on #108
Beautiful :fox_face:

[2018-06-04 14:25] #108 closed

[2018-06-04 14:58] lizzycederberg commented on #110
Thanks @tedw

[2018-06-04 15:03] lizzycederberg commented on #118
Thanks!

[2018-06-04 15:23] #104 closed

[2018-06-04 15:29] lizzycederberg commented on #107
Ok I will talk to the client about these options today!

[2018-06-04 15:32] tedw commented on #73
@lizzycederberg I need the form embed code, or instructions for how to find it in Engaging Networks.

[2018-06-04 15:50] rmundstock commented on #113
Removed the empty heading

[2018-06-04 15:51] tedw commented on #121
Great catch! This was happening in all related news components other than the homepage. Fixed now.

[2018-06-04 16:26] lizzycederberg commented on #37
This is awesome -- I especially like the counts of each that show. Thanks!

[2018-06-04 16:26] #37 closed

[2018-06-04 16:30] tedw commented on #57
Updated

[2018-06-04 17:31] LizLord commented on #109
@lizzycederberg Will you inform ALDF / check on the purpose behind the additional GTM containers that are on the current ALDF site? If they're tracking anything important there we'll want to plan to migrate those tags to the main container. Only one GTM container is recommended on any site.

Main - GTM-5NG4QP (we have access) ✅ (no questions)
Other - GTM-PV2GWJ (homepage - no access) - is this nec

[2018-06-04 17:48] tedw commented on #121
There is now a field for the GTM key in the admin
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=aldf-info

[2018-06-04 17:49] tedw commented on #109
There is now a field for the GTM key in the admin
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=aldf-info

[2018-06-04 17:49] tedw commented on #110
There is now a field for the YouTube API key in the admin
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=aldf-info

[2018-06-04 20:50] lfhello commented on #121
Thanks, @tedw !

I just realized the first yellow line isn't necessary in mobile- can we remove that and move up the first image/ headline?

The lines are really just dividers at this point, so we don't need it for the first story because there will be some spacing under Recent News and then the first image/ headline can start

![screen shot 2018-06-04 at 4 48 07 pm](https://user-images.githubuser

[2018-06-05 16:39] lizzycederberg opened #122 "Increase character limit on Glossary terms"
@tedw Elizabeth is running up against the character limit on glossary terms. Can you please increase that (or remove it if it's ok with the design -- they will try to keep them short).

[2018-06-05 16:42] lizzycederberg opened #123 "Add pagebuilder above Related Cases and News on Focus Area"
@tedw ALDF want to have the ability to use the pagebuilder above and below the Related Cases and News on Focus Area pages. Please do **not** move the content that currently exists in the pagebuilder on these pages, just add a new instance above the Related Cases and News

[2018-06-05 16:50] tedw commented on #122
done

[2018-06-05 17:24] lizzycederberg commented on #107
@LizLord So apparently Cafepress is not going to make this easy and none of the three options you outlined will be feasible. What's the downside of not claiming the site ahead of launch?

Also, for reference in this ticket, our new launch date is **July 2nd**

[2018-06-05 17:26] lizzycederberg commented on #110
@tedw I added their YouTube API Key to the live site!

[2018-06-05 17:27] lizzycederberg commented on #73
@tedw David sent this: https://act.aldf.org/page/4644/subscribe/1

Is that what you need?

[2018-06-05 17:46] tedw commented on #73
Sure, that will work. I guess the signup form will have to work like the donation form, where we pass the value to Engaging Networks via a URL param:

e.g. https://act.aldf.org/page/4644/subscribe/1?supporter.emailAddress=hello@threespot.com

We should probably add a URL field in the admin for this in case it ever changes. Same with the donation form now that I think about it.

This will take abou

[2018-06-05 17:50] tedw commented on #123
Deployed

[2018-06-05 17:56] LizLord commented on #107
@lizzycederberg let's drop it for the cafepress site - impact there is minimal, but be sure to get this for ALDF.org - the GSC verification failed for the main site because while GTM added to the site it is not in the expected location. We'll need to verify ALDF.org in Google Search Console with one of the 3 options in the earlier comment.

[2018-06-05 18:15] tedw opened #124 "Update responsive image code in Related News component"
Update the sizes attr in related content grid component to avoid loading larger images than necessary.

[2018-06-05 18:30] lizzycederberg commented on #73
@tedw That sounds fine to me -- please proceed. Thanks

[2018-06-05 19:05] #123 closed

[2018-06-05 19:05] #122 closed

[2018-06-05 19:06] lizzycederberg commented on #113
@lfrancis Can you please review?

[2018-06-05 19:07] lizzycederberg commented on #82
Agreed -- let's leave this alone

[2018-06-05 19:08] lizzycederberg commented on #64
Thanks!

[2018-06-05 19:30] lfrancis commented on #119
Confirmed addressed

[2018-06-05 19:30] #119 closed

[2018-06-05 19:35] lfrancis opened #125 "slideshow right/left controls shift position vertically when full-screen"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

slideshow right/left controls shift position vertically when full-screen:

![gifmeamadeus](https://user-images.githubusercontent.com/6942589/40998508-0736ffb2-68d6-11e8-92c2-e60f674911d2.gif)

[2018-06-05 19:38] lfrancis commented on #113
Confirmed addfressed

[2018-06-05 19:38] #113 closed

[2018-06-05 20:14] #110 closed

[2018-06-05 20:17] tedw commented on #125
The buttons are centered vertically in the viewport while the image position changes based on whether there is caption text and how many lines long it is. Fixing this would require a significant update to the slideshow plugin, likely 4–8 hrs.

[2018-06-07 15:12] lizzycederberg commented on #107
@LizLord They want to go with option 1 or 2. Can you please share whichever file they need to upload? Thanks!

[2018-06-07 16:28] lizzycederberg opened #126 "Actions: Custom Title field overrides native Title"
When an admin is creating an Action, they are inputting the "internal title" in the native Title field (e.g. "generic find your state legislators"). They are using the second, custom Title field for the user-facing title. There are two issues with this:

1. The Action slug is being generated from the internal title, which is not very user friendly e.g. /generic-find-your-state-legislators

2. When

[2018-06-07 18:46] lizzycederberg commented on #126
Resolved! This field actually needed to be hidden

[2018-06-07 18:46] #126 closed

[2018-06-08 18:44] lizzycederberg commented on #103
We need to apply styles to the form itself. David let us know that the page we've been working in includes an example of every element they will want to use: (Threespot)

They will also be using the Email to Target type ([example](https://act.aldf.org/page/5687/action/1?mode=DEMO)) and I would like to see if we can apply any light styling to those too.

@tedw @Henryhankdc

[2018-06-08 19:50] tedw commented on #103
@Henryhankdc I can work on this so you can focus on Children’s

[2018-06-11 11:17] tedw commented on #103
I created a demo page with all of the fields David added:
https://dev-aldf-wp.pantheonsite.io/donation/

[2018-06-11 16:25] lizzycederberg opened #127 "Migrate archive site and Animal Law Conference site to Siteground.com"
ALDF wants to move their Conference site and archive of the current site to https://www.siteground.com

@tedw Can you please tell me what you would need access to in order to make sure this is a viable solution? David let me know they do not currently have FTP access, but could potentially do something like set you up with VPN access.

[2018-06-11 18:17] LizLord commented on #107
@lizzycederberg
**Option 1**
Steps 1 and 2 to be completed by ALDF
Steps 3 and 4 to be completed by Threespot
![image](https://user-images.githubusercontent.com/16021927/41249239-8de5be7c-6d81-11e8-939e-2537aa2e29e1.png)
HTML file contents:
[code]

--OR--

**Option 2**
Step 1 to be completed by ALDF
Step 2 to be completed by Threespot
![image](https://user-images.githubusercontent.com/16021927/412

[2018-06-11 20:16] lizzycederberg opened #128 "Allow admin to edit Take Over reset date"
@tedw ALDF wants to be able to manage how long it takes to reset the take over/top hat promo once someone has dismissed it. I think you have it set for 60 days right now. Can we make this a field in the CMS?

[2018-06-11 20:18] lizzycederberg opened #129 "Create How We Work content type"
- Hero should be styled like the Focus Area hero with page title and subtitle
- Will need to add the "Share" icons somewhere
- All other content fields should borrow from the Issue template
- These pages will serve as the landing page for each of the How We Work nav items -- every Work Type should appear in the navigation, so if that changes the recommendation to make the pages manually, that's ok

[2018-06-11 20:30] tedw commented on #127
I need admin access to the existing WP site and access to their Siteground account. FTP access to their current host would be best, but I can look into alternative methods for copying all of their site code and assets, like this plugin https://wordpress.org/plugins/all-in-one-wp-migration/

[2018-06-11 20:33] tedw commented on #128
Sure

[2018-06-12 15:47] lizzycederberg opened #130 "Allow admins to pull in any page in Resources"
In the 2-up Related Content component, ALDF does not want to limit the Resources to documents. They want to use it to create a list of any content that they consider to be a resource. Can we update this component?

[2018-06-12 15:50] tedw commented on #103
Here is a preview https://live-aldf-wp.pantheonsite.io/donate/

Ready for VQA (but there isn't a whole lot more we can do)

[2018-06-12 15:51] tedw commented on #128
There is now a field for this in the Donation Promo section on the homepage
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/post.php?post=62&action=edit

[2018-06-12 16:07] lizzycederberg commented on #129
@tedw Here's a comp for how to incorporate the Share icons

![sharereco](https://user-images.githubusercontent.com/13699106/41302730-3dd84ca2-6e39-11e8-9a7e-f30cd66b5622.png)

[2018-06-12 16:27] tedw commented on #130
You can now add the following content types as Resources in the 2-up Related Content component:

- Action
- Article
- Case
- Document
- External Link
- Focus Area
- Issue
- Page
- Project

[2018-06-12 16:53] lizzycederberg commented on #130
Looks good!

[2018-06-12 16:53] #130 closed

[2018-06-12 16:53] #128 closed

[2018-06-12 17:01] cmontwill opened #131 "EN form spacing issues"
https://live-aldf-wp.pantheonsite.io/donate/

1. Create a bottom margin on the gift buttons and donation amounts on mobile (should be that same as the margin on the right side)
![screen shot 2018-06-12 at 12 37 46 pm](https://user-images.githubusercontent.com/5890745/41305492-175fdfec-6e41-11e8-9034-4923abb7e13e.png)

2.Create the same padding on top of the dog image as the bottom on mobile
![scre

[2018-06-12 20:42] tedw commented on #129
Added “How We Work” custom post type and integrated with main nav. Supports same fields as Issue pages but with custom hero billboard.

[2018-06-14 17:52] lizzycederberg opened #132 "Install plugin"
@tedw David asked us to install this plugin that they have to use for some specific forms https://wordpress.org/plugins/formidable/

[2018-06-14 21:08] lizzycederberg opened #133 "Add How We Work to Featured Content and Two-Up"
@tedw Please add the How We Work content type as selectable content for the "Text Promo and "2-Up Text Promo" components

[2018-06-15 13:29] tedw commented on #132
Do we know why they feel they _have_ to use this plugin? I worry that they’re just copying over everything the way it was on the old site and not really thinking about what makes sense in the long term.

[2018-06-15 13:48] lizzycederberg commented on #132
David said the plugin they want to use for forms doesn't store entry history, but Formidable does, so for some specific forms they want to preserve the history in WP.

--

Lizzy Cederberg
Threespot.
806 7th St NW, Suite 201 Washington, DC 20001
T: 202.471.1126 | M: 919.270.3965 | @threespot

________________________________
From: Ted Whitehead <notifications@github.com>
Sent: Friday, June 15, 2018

[2018-06-15 13:53] tedw commented on #120
Note: See NPCA ESA for example of CSS approach
https://github.com/Threespot/npca-endangered-species/blob/master/source/assets/stylesheets/components/_park-page.scss#L520-L555

[2018-06-15 13:53] lizzycederberg opened #134 "External link shortcode"
https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-06-15 13:54] lfhello commented on #134
![screen shot 2018-06-14 at 9 03 51 am](https://user-images.githubusercontent.com/17705791/41471591-15ca28ca-7082-11e8-9e04-906fdb183e86.png)

[2018-06-15 20:52] tedw commented on #133
Updated

[2018-06-15 20:52] tedw commented on #132
Plugin has been installed

[2018-06-15 20:53] tedw commented on #134
Shortcode added, ready for VQA

[2018-06-15 20:53] tedw commented on #121
Updated

[2018-06-15 20:53] tedw commented on #131
Updated

[2018-06-15 21:16] lizzycederberg opened #135 "Print out item ID on listing page in CMS"

[2018-06-18 12:01] lfhello commented on #121
wonderful! :octocat:

[2018-06-18 12:01] #121 closed

[2018-06-18 12:08] lfhello commented on #134
@tedw can you share where you put this?

[2018-06-18 12:10] lfhello opened #136 "Press Release Contact area"
@tedw - @rmundstock and I had worried about this before it got built and I just noticed it here
https://live-aldf-wp.pantheonsite.io/article/winter-weather-advisory-keep-animals-safe-warm-winter/
Is there any way to resolve this where it does not happen to Contact?

![screen shot 2018-06-18 at 8 08 54 am](https://user-images.githubusercontent.com/17705791/41535078-04751b6c-72cf-11e8-9c98-ebd677931

[2018-06-18 12:11] lfhello commented on #136
It'd be weird to also happen to the "("

I'd rather it not be there for press releases. Or we see if they can write it differently? eh.

[2018-06-18 12:12] lfhello commented on #136
@lizzycederberg @cmontwill maybe you guys have an idea?

[2018-06-18 14:34] tedw commented on #135
Added ID column to Articles, Projects, Cases, Issues, Pages, External Links, and Documents. Other content types, like Actions and People, should use the page builder components instead of the “link” shortcode.

[2018-06-18 15:19] tedw commented on #134
@lfhello Someone needs to add the shortcodes to a test article. I only tested locally.
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/post.php?post=3875&action=edit

Shortcode format is `[link id="123"]`. I added a column with the ID number in all of the listing pages for content that can be included this way (see #135).

CC: @rmundstock

[2018-06-18 15:23] tedw commented on #136
Can you provide your ideal logic for this component? For example, alway use first letter on Article pages but not on Press Releases.

I can disable it for any particular article type (e.g. Press Releases), but beyond that, we would need to add a checkbox to the admin to disable the drop cap, or disable it by default and require a shortcode to apply it. Neither of those seem like great options.

Th

[2018-06-18 16:14] lizzycederberg commented on #103
@tedw Now that VQA is done, please update the template in EN.

[2018-06-18 16:16] lizzycederberg commented on #136
@tedw @lfhello There is a ticket open already where the client asked us to get rid of the large first letter for press releases #33

[2018-06-18 16:16] #136 closed

[2018-06-18 16:20] lizzycederberg commented on #134
@tedw I created a test on this page: https://live-aldf-wp.pantheonsite.io/wp/wp-admin/post.php?post=3875&action=edit

But I can't add an image to the link. When I click on the Featured Image, it says no media found -- but only when trying to do this on a link

![screen shot 2018-06-18 at 12 19 06 pm](https://user-images.githubusercontent.com/13699106/41548804-f5f3f90a-72f1-11e8-86cd-5094e5742288.p

[2018-06-18 17:10] tedw commented on #134
Rachel noticed that this morning and I have a fix ready to deploy.

[2018-06-18 17:33] tedw commented on #134
Deployed

[2018-06-18 17:50] lizzycederberg commented on #135
Thanks!

[2018-06-18 17:50] #135 closed

[2018-06-18 17:53] tedw commented on #103
Updated https://give.aldf.org/page/5681/donate/1?mode=DEMO

[2018-06-18 17:53] lizzycederberg opened #137 "Possible to select media in the 2-up text promo"
@tedw Can you give me an estimate for added the `add media` function to the mini WYSIWYG editor on the 2-up text promo component

Elizabeth has started adding images via the `text` tab and wanted to know if this could be added: https://live-aldf-wp.pantheonsite.io/article/animal-law-opportunities/

[2018-06-18 17:59] lizzycederberg commented on #134
@lfhello Example with image in here: https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

[2018-06-18 18:02] tedw commented on #137
Yeah that's not good, she should not do that to avoid broken images and migration issues in the future.

I can easily add the full WYSIWYG editor. I used the minimal one because we didn't design and write FE styles for any possible shortcode or WYSIWYG component (e.g. images, block quotes, tables, etc). It will be up to them to avoid doing anything that looks bad.

[2018-06-18 18:13] lfhello commented on #134
@lizzycederberg @tedw

Thanks!

So it looks like the one without an image is overlapping an image:

![screen shot 2018-06-18 at 2 10 54 pm](https://user-images.githubusercontent.com/17705791/41554017-8c6289ec-7301-11e8-8d53-1d26bfbdfc4e.png)

And on mobile, can we tighten the space below both of them to match what it is on top? It's much larger spacing below them right now just on mobile

![screen

[2018-06-18 18:23] tedw commented on #134
@lfhello Good catch! That's an easy fix.

[2018-06-18 18:41] tedw commented on #134
Update deployed

[2018-06-18 18:52] lfhello commented on #134
Awesome, thanks, @tedw

Looks like the extra margin is still showing up on mobile- when I removed the 2em bottom margin, it seemed to fix it. Don't know how you want to adjust that

[2018-06-18 20:41] tedw commented on #134
@lfhello Actually, I'm not seeing this issue. Can you test again and maybe clear your cache?

[2018-06-19 13:46] tedw commented on #134
Sorry, was only looking at desktop. Fixed now, waiting on deployment.

[2018-06-19 14:02] tedw commented on #134
Updated

[2018-06-19 16:20] lizzycederberg commented on #134
@lfhello Can you take a look and close this if it's ok?

[2018-06-19 16:20] #133 closed

[2018-06-19 16:20] #129 closed

[2018-06-19 16:21] lizzycederberg commented on #137
@tedw Ok that makes sense. I'll ask Elizabeth about that and let you know.

[2018-06-19 16:31] lfhello commented on #134
yup- looks good!

[2018-06-19 16:31] #134 closed

[2018-06-19 16:50] lizzycederberg commented on #137
@tedw Elizabeth is ok with those limitations and will just us it for images. Please go ahead and update. Thanks!

[2018-06-19 16:52] lizzycederberg commented on #103
@tedw I sent David that link and the CSS is not loading for him. This is what he's seeing in two browsers:
![image003](https://user-images.githubusercontent.com/13699106/41612014-9e47f390-73bf-11e8-9edf-6f5d26094872.jpg)

Error
![image002](https://user-images.githubusercontent.com/13699106/41612021-a176d04a-73bf-11e8-901f-562391727192.png)

[2018-06-19 16:54] lizzycederberg opened #138 "Search is not working well on live"
When you search a term like 'student' you get 0 results, even though there is content related to students on the site. It's also coming up with 0 results when you search an exact article name.

Is it not integrated on `live` yet?

[2018-06-19 19:00] tedw commented on #103
Right, so the CSS filename is going to change every time we deploy, which is why it broke. I'm deploying a fix to try to allow 3rd-parties to link to assets without the unique ID at the end.

FYI, that other error `$ is not defined` is from their GTM code. They are running some code via GTM that expects jQuery to be on the page but we’re not using jQuery on the new site. I think I already talked t

[2018-06-19 19:01] tedw commented on #138
I have not completed Solr integration yet.

[2018-06-19 19:12] tedw commented on #138
I just told Solr to index the live site and it seems to be working now
http://live-aldf-wp.pantheonsite.io/search/student/

[2018-06-19 19:29] tedw commented on #137
Updated

[2018-06-19 19:32] tedw commented on #103
Fixed https://give.aldf.org/page/5457/donate/1?mode=DEMO

[2018-06-19 19:42] lizzycederberg opened #139 "Solution for blank "Focus Area" or "How We Work""
Some content does not have a Focus Area and a How We Work taxonomy, and it looks like something's missing when one is left blank

![screen shot 2018-06-19 at 3 41 15 pm](https://user-images.githubusercontent.com/13699106/41620319-5626a81e-73d7-11e8-9b28-26a8668681af.png)

Example seen here: https://live-aldf-wp.pantheonsite.io/article/the-legal-process-in-the-united-states-a-civil-case/

@cmontwil

[2018-06-19 19:44] lizzycederberg opened #140 "Little boxes showing up by dates"
Seems resolved, but go back and check

[2018-06-19 19:46] lizzycederberg opened #141 "Too much space between components"
@cmontwill Can you make a recommendation on the padding that should appear when the "How We Work / Focus Area" item appears directly above "Related" content -- Elizabeth feels it's way to large of a gap.

Example here: https://live-aldf-wp.pantheonsite.io/article/the-legal-process-in-the-united-states-a-civil-case/

![screen shot 2018-06-19 at 3 45 25 pm](https://user-images.githubusercontent.com/

[2018-06-19 19:49] lizzycederberg commented on #137
Thanks!

[2018-06-19 19:51] lizzycederberg commented on #137
@tedw I see that the full rich text editor is in there, but I don't see `add media` -- can you please check?

![screen shot 2018-06-19 at 3 50 25 pm](https://user-images.githubusercontent.com/13699106/41620726-96e81e90-73d8-11e8-813f-ae986ea69a4a.png)

[2018-06-19 19:58] lizzycederberg commented on #103
Ok -- quick question. Is the smaller text (third paragraph) supposed to be in one column like this:

![screen shot 2018-06-19 at 3 57 48 pm](https://user-images.githubusercontent.com/13699106/41621043-8cc57006-73d9-11e8-81cc-45c50e0bf479.png)

[2018-06-19 20:09] tedw commented on #73
Newsletter form has been integrated.

[2018-06-19 20:47] lizzycederberg opened #142 "Ordering of pages is not working"
I updated the Order number of all the items that appear on the About page subnav using 'Quick Edit' but the change was not reflected on the site.

I tried making the same change in the 'Page Attributes' on the Edit page, but it still didn't reorder them.

"Financials" should now be #2, but it's still #4 in the list

![screen shot 2018-06-19 at 4 14 26 pm](https://user-images.githubusercontent.com/

[2018-06-19 21:15] cmontwill commented on #131
Spacey 👩‍🚀

[2018-06-19 21:40] lizzycederberg commented on #73
Great! @lfrancis Can you please verify this is ok?

[2018-06-19 22:40] tedw commented on #137
Hmm, sorry, I thought it would show up so didn't actually test it. I must have missed a setting or something.

[2018-06-19 22:41] tedw commented on #103
That all depends on how David adds the content in EN. We don't have control over that.

[2018-06-19 23:53] #131 closed

[2018-06-20 00:10] tedw commented on #142
@matbrady Hey, I can’t figure out why this isn’t working. Do you have any ideas?
[code]
- https://wordpress.stackexchange.com/questions/2993/get-children-not-working-with-orderby-parameter
- https://gist.github.com/austinpray/6587660

[2018-06-20 15:59] lfrancis commented on #73
Confirmed addressed

[2018-06-20 15:59] #73 closed

[2018-06-20 16:30] lizzycederberg commented on #142
@tedw @matbrady We ran into a similar issue on GU, so Daniel might know?

[2018-06-20 16:31] lizzycederberg opened #143 "Button font does not match design"

[2018-06-20 16:34] lizzycederberg opened #144 "Make nav sticky"
@cmontwill @lfhello Elizabeth said we designed the nav to be sticky. Is that true? I can't find anything about it.

@tedw Can you tell me how long it would take to make it sticky?

[2018-06-20 16:36] lizzycederberg opened #145 "Hover and click state of tool tips are different"
If you hover over a glossary term, you see an unstyled tool tip. You have to click to see the styled version. Please update so that hover displays the styled version (I'm not sure if we also need a click-state. Maybe for mobile?)

Example seen here: https://live-aldf-wp.pantheonsite.io/article/foie-gras-legal-battle-continues-appellate-court-to-hear-arguments-over-local-eaterys-violations/

**Hove

[2018-06-20 16:42] lizzycederberg opened #146 ""Hide Date" function does not work"
I tried hiding the date on this article, but it's still displaying on the front end: https://live-aldf-wp.pantheonsite.io/article/foie-gras-legal-battle-continues-appellate-court-to-hear-arguments-over-local-eaterys-violations/

Note: I changed it back on this article because this is real content. I was just testing it out.

**CMS**

![screen shot 2018-06-20 at 12 38 51 pm](https://user-images.git

[2018-06-20 16:45] lizzycederberg opened #147 ""Exclude from search results" function does not work"
I tested this on this article, but was sill able to find it when I searched for "foie gras".

I made the change in Chrome and searched in FF in case it was a caching thing, but it still came up in FF.

Note: I changed it back because I was just testing. This should be searchable.

Article: https://live-aldf-wp.pantheonsite.io/article/foie-gras-legal-battle-continues-appellate-court-to-hear-argumen

[2018-06-20 16:51] cmontwill commented on #144
@lizzycederberg TBH I remember it the other way around and it wasnt spec'd that way. I believe it was one of the reasons for the back to top on the project pages. Either way, we'll have to estimate.

[2018-06-20 16:54] lizzycederberg opened #148 ""Hide in News" function does not work"
I tested this with this article because it's the first item in the results on News, but it still appears after updating the post: https://live-aldf-wp.pantheonsite.io/article/test-article-with-components/

**CMS**

![screen shot 2018-06-20 at 12 53 20 pm](https://user-images.githubusercontent.com/13699106/41672871-10040662-7489-11e8-84b3-14fdaa1c03f9.png)

**News listing**

![screen shot 2018-06-2

[2018-06-20 16:54] cmontwill commented on #141
@ted can we reduce the top margin from 120 to 40 here. See attached.
![screen shot 2018-06-20 at 12 54 11 pm](https://user-images.githubusercontent.com/5890745/41672883-1776d33e-7489-11e8-91fe-a4fcfed65742.png)

[2018-06-20 16:56] lizzycederberg commented on #107
@LizLord HTML file was uploaded: http://aldf.org/googlee60f3fe904ed83b1.html

Can you please take a look and let me know if you have everything you need to claim the site?

[2018-06-20 16:57] cmontwill commented on #139
@tedw if the focus area is blank can we hide it like this: Also, it looks like there is took much top margin on this component, can we reduce it by half?

![screen shot 2018-06-19 at 9 51 43 am](https://user-images.githubusercontent.com/5890745/41672988-71fa4c1e-7489-11e8-941c-bee00819c71d.png)

[2018-06-20 16:58] LizLord commented on #107
@lizzycederberg Confirmed! Site verification worked and we now have the http version of the ALDF site claimed in Google Search Console.
At launch, we'll want to file a 'change of address' with Google which will transfer the SEO identity from the old site to the new https site.

[2018-06-20 16:58] #107 closed

[2018-06-20 17:04] tedw commented on #144
If all we’re doing is making it sticky (i.e. no layout changes once stuck, no hiding on scroll) and don’t care about IE 11 support, this will only take 10 min (plus deploy time).

[2018-06-20 17:06] tedw commented on #145
What you see when you hover and wait is the default browser tooltip for the `title` attribute text. We can remove this but we can’t style it. It was added as a no-JavaScript fallback.

[2018-06-20 17:08] tedw commented on #148
It’s probably because of caching.

[2018-06-20 17:08] tedw commented on #146
This is probably due to caching.

[2018-06-20 17:10] tedw commented on #143
Can you please provide more information (page URL, browser info, screenshot)? I would also recommend clearing your cache first just in case (I use [this plugin](https://chrome.google.com/webstore/detail/clear-session/maejjihldgmkjlfmgpgoebepjchengka)). Thanks.

[2018-06-20 17:11] tedw commented on #142
@danielboggs Can you point us in the right direction here? Thanks!

[2018-06-20 17:13] LizLord opened #149 "Complete Change of Address in GSC"
Complete a change of address for the http to https change at relaunch to pass SEO value from old site and submit the new site for indexing.

@lizzycederberg FYI

[2018-06-20 17:16] lizzycederberg commented on #148
@tedw Can you provide more info? Do you mean browser caching? Or server caching?

I was making the updates in Chrome and reviewing them in FF because I haven't looked at the site in FF yet.

If it's server-side caching, what is the best way to make a change live immediately?

[2018-06-20 17:17] lizzycederberg commented on #145
Ahh gotcha. Is it very common that people won't have JS enabled? Seems like we should hide it, but I don't know how big of a deal that is.

[2018-06-20 17:29] tedw commented on #148
Server. Is this urgent?

[2018-06-20 17:30] tedw commented on #145
This will take 15 min. Hiding when JS is enabled makes sense to me.

[2018-06-20 18:13] lizzycederberg commented on #148
No, just trying to get everything into GH and trying to assess how major things are.

[2018-06-20 18:38] lizzycederberg opened #150 "Subnav spacing"
I don't really know what's happening on this page: https://live-aldf-wp.pantheonsite.io/article/animal-law-symposium/animal-law-symposium-2017-recap/

The subnav looks like the top item is being repeated and it's out of line

![screen shot 2018-06-20 at 2 15 32 pm](https://user-images.githubusercontent.com/13699106/41677888-9b7aa1fc-7497-11e8-8c2f-e938023fad60.png)

---
Checklist:
- 🔗  Provide lin

[2018-06-20 19:16] tedw commented on #150
@lizzycederberg Is that happening in all right navs or just that one?

For some reason, there are two nav elements:
![screen shot 2018-06-20 at 3 15 57 pm](https://user-images.githubusercontent.com/864716/41679659-f57f97d4-749c-11e8-8b7e-def60c030603.png)

[2018-06-20 19:19] lizzycederberg opened #151 "Jumpy image and button"
I don't know how to describe this issue, so I made a screen recording: https://drive.google.com/a/threespot.com/file/d/1aAS5x-_K072qqIwdpox5_N2WiPRtGXfv/view?usp=sharing

Here's the page: https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/

I also noticed this on another page a while ago, so I don't think it's page-specific.

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Des

[2018-06-20 19:23] lizzycederberg opened #152 "EN wrapper updates"
@tedw These are from David -- I don't know if we're actually able to make all these updates so can you please take a look and let me know?

- Add styling to blockquote
- Add styling to check box
- Add a radio button (not in the form right now) and styling
- Add a style to hide an element -- That “Master Opt-In” at the bottom of the page will need to be hidden. The easiest way to do that is by appl

[2018-06-20 19:36] lizzycederberg commented on #150
No -- the one on About Us looks fine https://test-aldf-wp.pantheonsite.io/about-us/

![screen shot 2018-06-20 at 3 36 18 pm](https://user-images.githubusercontent.com/13699106/41680506-b1479942-749f-11e8-981a-65c63a0c6881.png)

[2018-06-20 19:55] lizzycederberg opened #153 "Action Alert too far left"
On pages where the action alert appears beneath a full-width component, it also gets pushed to the far left of the page. ALDF would like us to bring it back into the main content well area.

Example seen here: https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/
Design: https://projects.invisionapp.com/share/FGG2CVFWZ8P#/screens

---
Checklist:
- 🔗  Provide links to affected pages
- 💁

[2018-06-20 20:00] lizzycederberg opened #154 "Large first letter missing on page"
This Issue page is not displaying the large first letter in the body copy: https://live-aldf-wp.pantheonsite.io/issue/wildlife-services-war-on-wildlife/

It's also missing on this issue: https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

It's working fine on this other issue: https://live-aldf-wp.pantheonsite.io/issue/animals-in-entertainment/

---
Checklist:
- 🔗  Provide links to affected pages

[2018-06-20 20:57] tedw commented on #152
This is technically possible if he can add these elements to the test page.

- Add styling to blockquote
  - 15 min but I need to see an example of the markup in EN
- Add styling to check box
  - May not be possible, depends on how EN generates the markup (30–45 min)
- Add a radio button
    - May not be possible, depends on how EN generates the markup (30–45 min)
- Add a style to hide an element

[2018-06-20 20:59] tedw commented on #151
That’s really weird. Can you try in an incognito window without the Pinterest plugin running? I have a feeling it’s related to that.

[2018-06-20 21:02] tedw commented on #154
There’s a typo in the template, `u-richtext--no-dropcap` should be `u-richtext--dropcap` 🤦‍♂️

[2018-06-20 21:05] tedw commented on #153
Looks like a few things got messed up in this template when a did a big layout refactor the other week. Will address it.

[2018-06-20 21:06] tedw commented on #139
Yup, we can do that. I think extra margin is the result of some layout refactoring I did the other week to fix issues with full-width page-builder components—will fix.

[2018-06-20 21:40] lizzycederberg commented on #151
Ok so it still happens in incognito without the plugin, but it doesn't happen in FF or Safari. Maybe a Chrome issue?

[2018-06-20 23:55] tedw commented on #151
Ok. This didn't happen for me. Let's have Lewis check it out.

[2018-06-21 18:38] tedw commented on #137
Added the media button and switched back to simple wysiwyg

[2018-06-22 13:57] lizzycederberg commented on #137
Looks good!

[2018-06-22 13:57] #137 closed

[2018-06-22 14:34] tedw commented on #151
@lizzycederberg Can you post your browser version number? I'm having a hard time reproducing this bug. I suspect it may be due to some other browser plugin. Could you install Chrome Canary and test again? https://www.google.com/chrome/browser/canary.html

[2018-06-22 15:19] tedw commented on #33
I removed the drop cap from Press Releases

[2018-06-22 15:21] lizzycederberg commented on #151
@tedw It didn't happen in Canary

@lfrancis Can you please review this issue and see if you experience it in Chrome?

[2018-06-22 15:24] lizzycederberg commented on #145
Let's hide these then please!

[2018-06-22 15:29] lizzycederberg commented on #138
@tedw It's working much better now! Can you tell me:
- How often Solr will reindex the site content?
- Should we expect a lag between publishing a piece and seeing it in search results? Or are pieces immediately indexed?

[2018-06-22 16:03] tedw commented on #138
Good questions. I don’t know how often Solr updates but I would guess every time a post is created. I can look into this.

ALDF can always manually reindex here https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=solr-power#top#solr_action (click “Start Index”).

[2018-06-22 16:26] lizzycederberg opened #155 "Issue page header and Focus Area header hides search"
When on an issue page (e.g. https://live-aldf-wp.pantheonsite.io/issue/animals-in-entertainment/) or focus area page (e.g. https://live-aldf-wp.pantheonsite.io/focus_area/farmed-animals/) if you click Search the field is hidden: https://live-aldf-wp.pantheonsite.io/issue/animals-in-entertainment/

![screen shot 2018-06-22 at 12 24 40 pm](https://user-images.githubusercontent.com/13699106/41787786-

[2018-06-22 16:36] tedw commented on #155
@lizzycederberg This is not related to any specific post type. If you resize the browser it will be fixed.

I thought this was only happening locally due to the way Browsersync injects CSS changes. I didn't realize this had happened on the live site. Will look into it.

[2018-06-22 16:49] lizzycederberg opened #156 ""read more" is not working"
ALDF inserted the "read more" function in this post: https://live-aldf-wp.pantheonsite.io/article/animal-neglect-facts/

I see it in the CMS, but it doesn't appear on the page

**CMS**

![screen shot 2018-06-22 at 12 46 52 pm](https://user-images.githubusercontent.com/13699106/41788757-b6f98522-761a-11e8-9127-97c98e6bd9d0.png)

**Page**

![screen shot 2018-06-22 at 12 47 14 pm](https://user-images

[2018-06-22 17:16] tedw commented on #156
I think the original specs said this would only be implemented on Issue pages. What pages to we need this on?

[2018-06-22 17:23] tedw commented on #155
I think I fixed this but I couldn’t reliably reproduce the issue in the first place so hard to say 100%.

LMK if you still see this issue and I can implement a more drastic fix.

[2018-06-22 17:30] lizzycederberg opened #157 "2-up text promos with images are not resizing on some pages"
On this **Focus Area page** the items in the 2-up text promo are really large and span full width. As you resize your browser, the second item kind of responds, but also gets cut off. The first item doens't change until you get to the stacked layout: https://live-aldf-wp.pantheonsite.io/focus_area/animals-used-in-research/

![screen shot 2018-06-22 at 1 28 53 pm](https://user-images.githubusercont

[2018-06-22 17:36] tedw commented on #157
This functionality was never designed or tested so I’m not surprised. This involves multiple things, so not simple to explain, but the fix was simple.

[2018-06-22 17:52] tedw commented on #157
Updated

[2018-06-22 17:52] tedw commented on #155
Ready for testing

[2018-06-22 17:53] tedw commented on #144
Ready for testing

[2018-06-22 17:53] tedw commented on #145
Ready for testing

[2018-06-22 17:53] tedw commented on #154
Ready for testing

[2018-06-22 17:53] tedw commented on #153
Ready for testing

[2018-06-22 17:54] tedw commented on #139
Ready for testing

[2018-06-22 17:56] tedw commented on #146
Sorry, previous comment was meant for another ticket. Turns out this was never integrated.

[2018-06-22 18:06] tedw commented on #141
Just noticed an issue with my fix on some pages without page-builder components. Deploying another
update.

[2018-06-22 18:06] cmontwill commented on #139
Looks like that might have had some side effects on pages like the below. Is that true?
https://live-aldf-wp.pantheonsite.io/article/world-oceans-day-highlights-lack-of-protection-for-sea-life/
<img width="976" alt="screen shot 2018-06-22 at 2 06 23 pm" src="https://user-images.githubusercontent.com/5890745/41792007-7de8c9b8-7625-11e8-8432-da25c2046f86.png">

[2018-06-22 18:07] cmontwill commented on #143
Ted, can we increase the weight of all the button labels 30-40% per what we discussed on slack?

[2018-06-22 18:18] cmontwill opened #158 "Right Rail Link styling"
Right rail nav top item should not have an arrow and be uppercase.

Current:
https://live-aldf-wp.pantheonsite.io/about-us/

Desired:
https://projects.invisionapp.com/share/9EG2CZT2H37#/screens

[2018-06-22 18:35] lizzycederberg commented on #156
Ahhh I see. I think we need it on all pages now 😬

[2018-06-22 18:40] tedw commented on #141
Ready for testing.

NOTE: Some pages have extra empty `<p>` tags at the end which creates extra space. ALDF should delete that.

[2018-06-22 18:43] tedw commented on #139
I had to clear the cache, seems fine now.

[2018-06-22 18:44] tedw commented on #158
@cmontwill This changed. See #57

[2018-06-22 18:45] tedw commented on #156
That’s annoying, but should not take more than 1 hr.

[2018-06-22 18:47] cmontwill commented on #139
gotcha. good here.

[2018-06-22 18:47] #139 closed

[2018-06-22 18:56] lizzycederberg opened #159 "Search filters may not be working with keyword search"
I was trying to find all the cases related to "Tony the Tiger" and I knew that they were also all under the "Captive Animals" taxonomy, so I applied the "Captive Animals" filter in search but didn't see them: https://live-aldf-wp.pantheonsite.io/?s=&taxonomy_focus_area=captive-animals&taxonomy_how_we_work=&date_range=&post_type=

![screen shot 2018-06-22 at 2 54 54 pm](https://user-images.githubus

[2018-06-22 19:04] lizzycederberg commented on #157
Looks fine to me! @lfrancis Can you review this across browsers? I only looked at Chrome.

[2018-06-22 19:08] lizzycederberg commented on #155
Ok I tested the same pages in Chrome, FF, and Safari (if that matters), and I'm not seeing it anywhere. I will keep it open for now in case I see it again, but I think it's ok.

CC @lfrancis Just a heads up in case you see this.

[2018-06-22 19:10] lfhello commented on #144
Looks good to me!

[2018-06-22 19:11] lizzycederberg commented on #146
I was able to successfully hide the date on this article: https://live-aldf-wp.pantheonsite.io/article/the-animal-legal-defense-fund-mourns-the-loss-of-tony-the-tiger/?message=pantheon-cleared-url-cache

But now when I try to revert it back to show the date, it's still hidden. I tried clearing the Pantheon cache and my browser cache just in case, but it's still not showing:

![screen shot 2018-06-

[2018-06-22 19:13] lizzycederberg commented on #153
Looks good!

[2018-06-22 19:13] #153 closed

[2018-06-22 21:04] lizzycederberg commented on #154
Looking good!

[2018-06-22 21:04] #154 closed

[2018-06-22 21:05] lizzycederberg commented on #144
Is this on live? I'm not seeing it

[2018-06-22 21:06] #145 closed

[2018-06-22 21:13] tedw commented on #143
This has been deployed

[2018-06-25 14:10] tedw commented on #146
Ready for testing

[2018-06-25 15:11] lizzycederberg opened #160 "Text promo is left aligned"
On this page, there's a Text Promo towards the bottom of the page that is left-aligned instead of centered: https://live-aldf-wp.pantheonsite.io/article/animal-fighting-facts/

![screen shot 2018-06-25 at 11 10 56 am](https://user-images.githubusercontent.com/13699106/41858669-73117ffe-7868-11e8-8f40-2e1619f85613.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and

[2018-06-25 15:28] lizzycederberg opened #161 "Project pages missing "Related News"?"
Elizabeth is reporting that Project Pages are missing "Related News" or a way to add this in. I'm confused about this content type since it looks like it was originally an Article, but that changed (I guess), and the comp does not show any related content, but the CMS does have Related Issues and Related Cases.

Comp: https://projects.invisionapp.com/share/W3EL9YNVR#/screens/281774923

@tedw @cmon

[2018-06-25 15:44] lizzycederberg opened #162 "Glossary does not pull in all terms"
Glossary is missing some terms from the list in the CMS: https://live-aldf-wp.pantheonsite.io/glossary/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant labels

[2018-06-25 16:25] lizzycederberg opened #163 "Related Cases illustration + focus area to be a consistent height"
@cmontwill Can you please provide guidance on this:

When we show related Cases, ALDF would like the illustration + focus area header to be the same height across items, but some are 1 line and some are 2 lines

Example page: https://live-aldf-wp.pantheonsite.io/issue/wildlife-services-war-on-wildlife/

![screen shot 2018-06-25 at 12 23 13 pm](https://user-images.githubusercontent.com/13699106/418

[2018-06-25 16:28] lizzycederberg opened #164 "Tool tips are not appearing"
ALDF added the Glossary Term using the shortcode on this post, but the text itself does not appear on the front-end: https://live-aldf-wp.pantheonsite.io/issue/wildlife-services-war-on-wildlife/

**CMS**
![screen shot 2018-06-25 at 12 20 20 pm](https://user-images.githubusercontent.com/13699106/41862933-49e80386-7873-11e8-8cb0-a9d8086204ca.png)

**Front end**

![screen shot 2018-06-25 at 12 28 27

[2018-06-25 16:42] lizzycederberg commented on #146
It's working! I tested hide and show, and both are working well.

[2018-06-25 16:42] #146 closed

[2018-06-25 16:53] rmundstock commented on #161
@lizzycederberg this page does not have a 'Related News' component. Related Cases and Issues are there for taxonomy purposes. If there is a need to show related news items there are the page builder components, and you can also link articles directly in the text.

[2018-06-25 17:13] cmontwill commented on #163
@tedw
Can we reduce the desktop size of the focus area from from 1.25 to 1em and the case label from 1.125 to 1em? I think that puts them at 14px. See below...
![screen shot 2018-06-25 at 1 11 01 pm](https://user-images.githubusercontent.com/5890745/41864839-4107f5ae-7879-11e8-9694-1a2fef3b3131.png)

[2018-06-25 19:43] tedw commented on #144
@lizzycederberg It only becomes sticky once if the viewport is >= 1200x900. This was done to avoid taking up too much space on small screens.

[2018-06-25 20:23] tedw commented on #160
It technically is centered and full width, since this page has a right sidebar. The text promo component was not meant to be used by itself after the body copy, it was meant to break up the body copy.

[2018-06-25 20:29] tedw commented on #162
It seems to be truncating the number of words and not paginating.

We should also consider updating the shortcode so they can wrap any text. This will eliminate the need for creating multiple definitions for the same root word (e.g. amicus brief, amicus briefs, Amicus brief).

[2018-06-25 20:30] tedw commented on #142
via Daniel
[code]

[2018-06-26 14:04] lfrancis commented on #157
@tedw On FFX 60 and Edge-latest Win 10 I get hz scrollbars that won't go away.

![image](https://user-images.githubusercontent.com/6942589/41917258-ed10ea0a-7927-11e8-9ebc-6ca23fddb26f.png)

[2018-06-26 14:53] tedw commented on #157
@lfrancis Do you mean all 3 browser in Windows 10 or just Edge? I don't see scrollbars in Chrome or Firefox on OS X.

[2018-06-26 15:47] tedw commented on #142
Fixed, used this code:

[code]

[2018-06-26 15:56] lizzycederberg opened #165 "Sticky nav is hiding anchor links"
When on a large screen and the sticky nav is in place, if you click a jump link the anchor H2 is covered up by the nav

Example here: https://live-aldf-wp.pantheonsite.io/project/florida-orca-protection-act/#contact-your-representative

Clicked "Get Involved" but you can't see it

![screen shot 2018-06-26 at 11 55 33 am](https://user-images.githubusercontent.com/13699106/41924386-e2e34f54-7937-11e

[2018-06-26 15:56] tedw commented on #163
Updated.

Since there are often only 1 or 2 items, I updated the styles to make it 2-col by default, switching to 3-col only when there are 3 items.

I also set a max-width in "tablet" view to prevent the lines from getting too long.

[2018-06-26 16:03] cmontwill commented on #163
@lizzycederberg looks good here.

[2018-06-26 16:03] tedw commented on #142
Note: You may need to clear the cache for changes to appear:
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/options-general.php?page=pantheon-cache

[2018-06-26 16:09] tedw commented on #164
There is no defined glossary term for “Animal and Plant Health Inspection Service”.

FYI, there was a bunch of garbage markup on this page, probably from copying from the old site or Word:
[code]

I removed those `<span>` tags.

[2018-06-26 16:53] tedw commented on #165
Ugh, this is what happens when we introduce new functionality at the last minute after QA is complete.

I will address this.

[2018-06-26 17:06] lizzycederberg opened #166 "Image gallery display issue"
When Elizabeth clicks on an image in a gallery, she gets this weird chopped view and it "freezes" the page -- meaning she has to click out of it to get back to the page: https://live-aldf-wp.pantheonsite.io/focus_area/captive-animals/

![image002](https://user-images.githubusercontent.com/13699106/41927931-a108bc54-7941-11e8-8b5d-0a9151772cd0.jpg)

She's using Chrome, which is also what I'm using

[2018-06-26 17:08] tedw commented on #165
FYI, the content on this page is a huge mess, looks like they copied from Word or something. I just cleaned it up but we may need to remind them of authoring best practices.

[2018-06-26 17:08] lizzycederberg opened #167 "Remove Focus Area, display Content Type in search results"
@tedw Elizabeth wants to show the **content type** on search results in place of the Focus Area.

In the case of Articles, she's like to see the **specific article type**.

Is this doable?

![screen shot 2018-06-26 at 1 08 29 pm](https://user-images.githubusercontent.com/13699106/41928078-0a12bd1c-7942-11e8-8f29-f2ef3f6a2b19.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe t

[2018-06-26 17:09] lizzycederberg opened #168 "Google map integration"
The map seen here http://aldf.org/about-us/saldf/student-animal-legal-defense-fund-chapters/ needs to be added to this page: https://live-aldf-wp.pantheonsite.io/article/animal-protection-laws-of-the-united-states-of-america/

Please let me know if you need anything from ALDF for this.

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce

[2018-06-26 17:12] lizzycederberg commented on #36
@tedw we need to add this map to a page: https://live-aldf-wp.pantheonsite.io/article/animal-law-courses/

Please let me know if you need anything from ALDF for this.

[2018-06-26 17:14] tedw commented on #166
I fixed this earlier today

[2018-06-26 17:24] lizzycederberg commented on #167
Will show the content type name for all content types, except Pages which will show nothing.

If an article has an article type, the article type will show. If the article does not have an article type, Article will show.

[2018-06-26 17:29] lizzycederberg commented on #158
@cmontwill Can you look at this please?

[2018-06-26 17:31] lizzycederberg commented on #168
@tedw I just re-read David's note on this and he said "we need to discuss the migration plan" so I think he can help with this but needs some guidance.

[2018-06-26 17:31] tedw commented on #36
The maps (Canada & U.S.) are separate iframes of custom pages on the old site, each linking to numerous custom assets. It is going to take 2–4 hrs to migrate this to the new site.

ALDF needs to copy over the PDFs to the new site:
e.g. http://aldf.org/wp-content/uploads/compendium-map/2017/usa/MICHIGAN.pdf

[2018-06-26 17:38] tedw commented on #168
This is not a simple iframe. There is a lot of custom code here, both JS and PHP. I can copy the map code over but the rest of the functionality (search, chapter listing, pagination) is not possible since we don't have Chapters on the new site.

Just copying the map will take ~2 hrs. Adding Chapters as content types and building the rest of the functionality will take at least 8 hrs.

[2018-06-26 18:34] tedw commented on #165
I addressed this using CSS only, which is the fastest and most accessible solution. The downside is that it adds space above the target heading, so when you scroll up you will see extra space.

The only way to avoid this is to use JS to adjust the scroll position but this will take 1–2 hrs to implement.

[2018-06-26 18:42] lizzycederberg commented on #166
Working well!

[2018-06-26 18:42] #166 closed

[2018-06-26 18:44] lizzycederberg commented on #165
I think this is ok. Reporting resolved to the client.

[2018-06-26 18:44] #165 closed

[2018-06-26 18:55] lizzycederberg commented on #164
Oooh whoops. Thanks for checking. I will remind them not to copy/paste directly.

[2018-06-26 18:55] #164 closed

[2018-06-26 19:06] lizzycederberg opened #169 "The manually created tags just refresh page"
When I click one of the manually created tags, like "Kristen Lindsey", it just refreshes the page I'm on. It should take me to a listing of all content with that tag.

Example page: https://live-aldf-wp.pantheonsite.io/article/veterinary-board-temporarily-suspends-kristen-lindseys-license/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reprod

[2018-06-26 19:09] lizzycederberg commented on #163
Ok closing!

[2018-06-26 19:09] #163 closed

[2018-06-26 19:11] tedw commented on #169
Seems like those tag links have not been integrated 🤔

[2018-06-26 19:12] lizzycederberg commented on #162
@tedw What would that look like for them? Would they need to delete the duplicate terms and then go back to the places where they've used those to update them all?

[2018-06-26 19:13] lizzycederberg commented on #144
@tedw That makes sense -- David is reporting that he doesn't see it on his screen which is 2880x1800. Is that different than viewport?

[2018-06-26 19:13] #143 closed

[2018-06-26 19:24] lizzycederberg commented on #142
It's working! Both Quick Edit and Edit seem to be working.

Note for future reference: If there's more than one page with the same value for order, it doesn't change the order. You have to resolve all conflicts to see changes reflected.

[2018-06-26 19:27] lizzycederberg commented on #141
Looking good

[2018-06-26 19:27] #141 closed

[2018-06-26 19:31] lizzycederberg commented on #140
Think these are gone!

[2018-06-26 19:31] #140 closed

[2018-06-26 19:32] lizzycederberg commented on #168
Ok let me email David and ask him about this

[2018-06-26 20:04] lizzycederberg commented on #117
David is taking care of all redirects. We will review them to make sure they look ok.

[2018-06-26 20:10] lizzycederberg commented on #152
I added a new row with a block quote towards the bottom of the page above the light blue strata. It just looks like plain text right now: https://give.aldf.org/page/5681/donate/1?mode=DEMO

[2018-06-26 20:16] tedw commented on #144
To clarify for David, the header will only become sticky when the area inside the browser (i.e. viewport) is at least 1200 x 900. If his screen is 1440 x 900 (the number he gave is not the CSS size, since he has a high-res screen), then the area inside the browser window will be less than 900px tall due to the default browser UI (e.g. address bar, bookmarks, other toolbars). He can check his actua

[2018-06-26 20:28] lizzycederberg opened #170 "Reindex content for search"
@tedw Once all fixes are deployed, I want to have the site content reindexed. Elizabeth is reporting that it's not working, so I want to test it without anything else being worked on.

cc @cmontwill

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected

[2018-06-26 20:30] lizzycederberg commented on #116
@tedw We need to add this to the new site.

[2018-06-26 20:44] lizzycederberg commented on #75
It looks like this has been fixed -- the quote was what was being cutoff but it looks ok in Chrome anyway:

![screen shot 2018-06-26 at 4 43 31 pm](https://user-images.githubusercontent.com/13699106/41938107-207419ac-7960-11e8-9b65-1efd3eb43e47.png)

[2018-06-26 20:45] lizzycederberg commented on #59
@lfrancis We've made a lot of changes to things on the site since our first pass of QA. Can you please retest the core pages listed above and one of the new content type pages here:

How We Work: https://live-aldf-wp.pantheonsite.io/how_we_work/collaboration/

[2018-06-26 20:50] lizzycederberg opened #171 "Advocacy missing from How We Work menu"
I can't remember how to add items here or I would do it myself...

The Advocacy page should appear under How We Work: https://live-aldf-wp.pantheonsite.io/how_we_work/advocacy/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating

[2018-06-26 21:22] cmontwill commented on #158
Ahhh...sorry this came in from EP and now I see what she wants. She just wanted the upper case back with a little more padding between the links. Something like this....

![screen shot 2018-06-26 at 5 21 22 pm](https://user-images.githubusercontent.com/5890745/41940054-7f41f580-7965-11e8-99f2-4cb81a2ffeb9.png)

[2018-06-26 21:41] lfrancis commented on #75
Confirmed it's fine on Chrome, updated description to show this is a Safari problem.

[2018-06-26 21:46] lfrancis commented on #151
@lizzycederberg that looks like an interaction with a browser extension to allow you to save an image -- perhaps you have to restart the browser after disabling the extension in order fot the change to take? In any event, I can't replicate it.

[2018-06-26 22:48] lizzycederberg commented on #168
@tedw David is ok with losing search and the content types, but asked is we can add the schools URLs to the results. What do you need to do this? Or can you do it with the content as is?

[2018-06-26 22:50] lizzycederberg commented on #151
Ok I haven't seen anyone else with this issue, so it must be one of my screen capture plugins or something. I'm going to leave it open as a `wontfix`

[2018-06-26 23:41] tedw commented on #151
FWIW, it’s caused by this CSS `filter: drop-shadow(0 0 12px rgba(#000, 0.3));`

[2018-06-26 23:42] tedw commented on #167
Deployed http://live-aldf-wp.pantheonsite.io/search/orca/

[2018-06-26 23:51] tedw commented on #171
Not sure why that was happening but I made an update to sort them alphabetically and that seems to have fixed it ¯\_(ツ)_/¯

[2018-06-26 23:52] tedw commented on #170
You can trigger Solr to reindex by going here and clicking “Start Index”
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=solr-power#top#solr_action

[2018-06-26 23:55] tedw commented on #116
@lizzycederberg I need the following:

- Design (should consider both with and without the donation promo)
- Logic for showing it (i.e. does it ever reset or do we hide it forever once a user dismisses it?)

Once I have that, I can add it and provide a field in the admin for ALDF to edit the text.

[2018-06-27 14:46] lizzycederberg commented on #144
No need to change anything here!

[2018-06-27 14:46] #144 closed

[2018-06-27 21:48] lizzycederberg opened #172 "Scrape site for links to pantheon URLs"
@tedw This is a reminder for per-launch to make sure any links that have the full Pantheon URL are updated with aldf.org

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant labels

[2018-06-27 21:55] lizzycederberg commented on #171
Looks like we might be running into a space issue actually. Collaboration is now missing from the list.

[2018-06-27 21:58] lizzycederberg commented on #167
Looks great!

[2018-06-27 22:05] lizzycederberg opened #173 "View: Key Dates | Full Timeline toggle is missing"
The toggle to allow users to view key dates only or the full timeline is missing from pages and only key dates are showing up.

Example seen here: https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

**CMS**

![screen shot 2018-06-27 at 6 04 36 pm](https://user-images.githubusercontent.com/13699106/42002253-944e8360-7a34-11e8-9e06-efe6f9688a28.png)

**Front end -- missing toggle and June 22nd**

![

[2018-06-27 22:29] tedw commented on #173
I updated it to hide the toggle when there is nothing to show (i.e. No hidden dates).

[2018-06-27 22:30] lizzycederberg commented on #152
@tedw David wants to have an alternative radio button style so they can use radio buttons in other forms. Can we do that?

[2018-06-28 02:51] tedw opened #175 "Content needs fixing"
The body copy on this page is all messed up and needs to be re-entered without the legacy markup.
http://live-aldf-wp.pantheonsite.io/article/oregons-felony-animal-cruelty-law-the-kittles-bill/

This is the featured item in the News component on the homepage.

[2018-06-28 02:56] tedw opened #176 "The News grid layout isn’t working for ALDF’s content"
I think we need to rethink the layout of this component given ALDF’s title lengths.

![aldf-news-2](https://user-images.githubusercontent.com/864716/42010528-159ae990-7a5d-11e8-9d77-d3faf7d18473.jpg)

We should also figure out what to do when there’s no image. I setup a fallback using that illustration but there may be a better solution.

![aldf-news-1](https://user-images.githubusercontent.com/86

[2018-06-28 11:32] cmontwill commented on #176
@tedw can you send me the link to these pages?
@lfhello this is an enhancement right now, lets not work on this until after launch
@lizzycederberg can we get them to editorially manage some of these for launch?

[2018-06-28 11:43] tedw commented on #176
The first is a Focus Area, I forget which, and the second is the homepage.

[2018-06-28 13:09] tedw commented on #158
Updated, heading is uppercase now

[2018-06-28 13:21] lizzycederberg commented on #173
This post does have hidden dates, though. The first one (June 22) is supposed to be hidden.

[2018-06-28 13:22] tedw commented on #156
@lizzycederberg FYI all those `<span style="font-weight: 400;">` tags are breaking this functionality. I’m going to try to fix it but am not going to spend very long on it.

[2018-06-28 13:37] tedw commented on #156
I was able to fix it fairly easily, deploying now.

[2018-06-28 13:45] tedw commented on #167
This requires each content type have a listing view, which we currently don’t have for “How We Work” or “Projects.”

[2018-06-28 13:49] tedw commented on #173
I think this is actually due to a JS error with the image gallery. Not sure what happened to it but looking into it.

[2018-06-28 13:55] lizzycederberg commented on #176
This needs to be something they take on editorially -- we need to be focusing on bugs and things that are not complete.

[2018-06-28 13:57] lizzycederberg commented on #167
We do not need to add filters or facets for them, but they do need listing styles. Can they be modeled off the Article listing?

[2018-06-28 13:57] cmontwill commented on #158
@lizzycederberg good here.

[2018-06-28 13:59] #158 closed

[2018-06-28 14:01] lizzycederberg commented on #116
@cmontwill Can you please provide a design for this? Should be a very simple treatment. It also must require the user to actively accept in order to remove it.

[2018-06-28 14:04] tedw opened #177 "Need listing pages for “How We Work” and “Projects”"
Due to #167 we now need listing pages for “How We Work” and “Projects”

[2018-06-28 14:05] tedw commented on #167
Created a new issue https://github.com/Threespot/aldf-wp/issues/177

[2018-06-28 14:05] #167 closed

[2018-06-28 14:09] lizzycederberg opened #178 "Remove old tracking scripts"
After the site is live we need to remove the old tracking container codes / scripts

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant labels

[2018-06-28 14:11] tedw commented on #173
Actually, there was also a bug with the timeline JS. Fixed now and deploying.

[2018-06-28 14:31] tedw commented on #138
It updates when posts are created or edited. Pantheon caches pages for ~10 min, including search listings, so you may not see thing right away.

[2018-06-28 14:42] tedw commented on #173
Deployed

[2018-06-28 14:52] tedw commented on #171
Fixed, WP limits the number of posts returned to 5 by default for some reason. I set it to show all. Deploying.

[2018-06-28 15:15] #103 closed

[2018-06-28 15:16] lizzycederberg commented on #116
@tedw Once someone accepts this, it does not need to appear again

[2018-06-28 15:16] cmontwill commented on #116
![screen shot 2018-06-28 at 11 14 36 am](https://user-images.githubusercontent.com/5890745/42043503-a08578e2-7ac4-11e8-80f7-261e58a610ee.png)
@ted will this work? It will anchor to the bottom and stretch to the full width of the screen.

[2018-06-28 15:24] lizzycederberg commented on #175
Fixed!

[2018-06-28 15:24] #175 closed

[2018-06-28 15:25] lizzycederberg commented on #173
🙌 looking good!

[2018-06-28 15:25] #173 closed

[2018-06-28 15:28] lizzycederberg commented on #156
Working well!

[2018-06-28 15:28] #156 closed

[2018-06-28 15:33] lizzycederberg commented on #138
Thanks!

[2018-06-28 19:02] tedw commented on #169
Deploying update that will show tag listing. However, article tags were not saved correctly in WP previously so I need to figure out how to fix this. Until then, tag listing pages will not include articles.

[2018-06-28 19:03] lizzycederberg commented on #171
@tedw I'm still only seeing 5 items and not Collaboration

[2018-06-28 19:05] tedw commented on #171
It has not been deployed yet. I wait to assign tickets back to you until they are ready for testing.

[2018-06-28 20:30] tedw commented on #171
Deployed

[2018-06-28 20:33] lizzycederberg commented on #171
💯

[2018-06-28 20:33] #171 closed

[2018-06-28 20:40] tedw commented on #150
The duplicate links in the original screenshot were caused by a test page which was set to be a child of a page that no longer exists with the same name of the new page.

I deleted the test page and cleared the page cache to fix it.

[2018-06-28 20:48] tedw commented on #169
Deployed.

NOTE: ALDF will need to click the "update" button on Article pages with tag that were published prior to today. They don’t need to make any updates, just click the button.

[2018-06-28 20:53] tedw commented on #152
It might be technically possible to hack it so that the donation radio appear as buttons and all other radios look like default radios, but this is very fragile and could break if EN ever changes anything.

I think we should have a single radio style and a single checkbox style. I would prefer the default browser styles but can add custom CSS if @cmontwill wants to design something.

[2018-06-29 01:49] tedw commented on #155
The previous two commits should have solved this issue once and for all. Was a very weird bug I hadn't encountered before. Apparently, adding a JS file in the `<head>` set to `defer` causes any CSS styles with `transition` applied to transition from the default browser user-agent styles to whatever was defined in the CSS. This caused the expandable JS to miscalculate the height of the container, p

[2018-06-29 04:51] tedw commented on #36
Map has been migrated but we still need ALDF to migrate the PDFs and then I need to update the links.

[2018-06-29 13:08] tedw commented on #36
FYI, in order to make this happen I had to add a new “Custom HTML” page builder component. When pasting the code into the body copy WYSIWYG the map SVG code was breaking.

[2018-06-29 13:54] lfrancis commented on #157
@tedw, sorry -- all seen on Win10 but the problem exists on Mac OS as well, but scrollbars are hidden on that platform -- if you turn them on, you'll see the same thing

[2018-06-29 14:42] tedw commented on #168
Map has been migrated

[2018-06-29 16:30] tedw commented on #168
Oh, right, I forgot about that. Perhaps for now I could use Google’s “felling luck” URL to go to the first result using the law school’s name.

e.g. http://www.google.com/webhp?#q=georgetown+law+school&btnI=I

[2018-06-29 18:15] lizzycederberg opened #179 "One more map"
The map seen here http://aldf.org/animal-law-courses/ needs to go on this page: https://live-aldf-wp.pantheonsite.io/article/animal-law-courses/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant

[2018-06-29 18:20] tedw commented on #168
I just added links using the Google solution above. Seems to work fine.

[2018-06-29 18:29] tedw commented on #179
Done https://live-aldf-wp.pantheonsite.io/article/animal-law-courses/

[2018-06-29 18:58] lizzycederberg opened #180 ""article" filter is returning 0 results in search"
The articles filter is returning 0 results -- maybe because they have subtypes?

https://live-aldf-wp.pantheonsite.io/?s=tiger&taxonomy_focus_area=&taxonomy_how_we_work=&date_range=&post_type=article

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected

[2018-06-29 19:08] lizzycederberg commented on #159
When I apply Content Type > Issue filter, I get results for News items

![screen shot 2018-06-29 at 3 07 55 pm](https://user-images.githubusercontent.com/13699106/42110170-39c1145a-7bae-11e8-8f5c-bcc482116fcf.png)

[2018-06-29 19:15] lizzycederberg commented on #179
🙌  awesome

[2018-06-29 19:15] #179 closed

[2018-06-29 19:16] #168 closed

[2018-06-29 20:58] lizzycederberg commented on #152
@tedw default browser styles are fine, but I would like to try to make the dollar amounts appear on the donation page -- I will be sure they know they can't change anything.

[2018-06-29 21:02] tedw commented on #116
Deployed

[2018-07-02 17:45] lizzycederberg opened #181 "Analytics: General Questions"
@LizLord I'm opening this ticket to keep track of some questions we've been going over in email:
- As far as pixels and other items that you saw in their GTM account, only the Facbeook pixel needs to go over to the new site. You can remove the others (or not worry about them if you're unable to remove them)
- Can the Facebook pixel be managed via GTM by the ALDF team in the future?

To do:
- Lizzy

[2018-07-02 17:49] lizzycederberg opened #182 "Remove limit on the number of people that can be added to the People List component"
@tedw They need to be able to add more than 9 people to a list.

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant labels

[2018-07-02 18:34] tedw commented on #182
Deployed

[2018-07-02 18:50] lizzycederberg commented on #182
Testing and seems to be working well. Thanks!

[2018-07-02 18:50] #182 closed

[2018-07-02 20:29] #116 closed

[2018-07-02 20:30] lizzycederberg opened #183 "Update helper text in search boxes"
ALDF wants some indicator to help users know they can search for exact matches by using quotes. @cmontwill Please provide direction on the solution for this:

![screen shot 2018-07-02 at 4 29 46 pm](https://user-images.githubusercontent.com/13699106/42184978-45385e56-7e15-11e8-84b2-b0eb4868db52.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required

[2018-07-02 20:33] lizzycederberg opened #184 "Exclude content from appearing in recent news if you're already on the page"
On this page: https://live-aldf-wp.pantheonsite.io/article/the-legal-process-in-the-united-states-a-criminal-case/

In 'recent news' the article is shown at the top. Can we create a rule to hide content from the listing when you're already on that page?

![screen shot 2018-07-02 at 4 32 15 pm](https://user-images.githubusercontent.com/13699106/42185064-a17caf14-7e15-11e8-83b7-52f5f9d5f9c9.png)

--

[2018-07-02 20:37] lizzycederberg opened #185 "All content now appears in Articles listing in the CMS"
We do **not** need to make any changes here -- unless it is impacting functionality on the front end. Could this by why filters are not working as intended on the front end (#180)?

When you go to view all articles in the CMS, it appears that all other content types are being included in this listing: https://live-aldf-wp.pantheonsite.io/wp/wp-admin/edit.php?post_type=article

---
Checklist:
- 🔗

[2018-07-02 20:50] lizzycederberg opened #186 "Hide dates on listings"
Can you provide an LOE for updating the "Hide Date" function to also hide the date in search results and listing pages on content?

[2018-07-02 20:51] lizzycederberg commented on #181
Thanks!

[2018-07-03 13:10] tedw commented on #180
This seems to be fixed by adding `_type` (e.g. `post_type=article` should be `post_type=article_type`)

[2018-07-03 19:15] lizzycederberg commented on #181
@LizLord We have Edit access now!

[2018-07-03 19:28] lizzycederberg commented on #36
@tedw All of the PDF have been uploaded to `Documents/State Rankings` in the CMS. Do you need anything else to get those hooked up?

[2018-07-03 21:39] cmontwill commented on #183
@tedw First of all, I'm sorry you have to do this. But here it is:

![screen shot 2018-07-03 at 5 38 34 pm](https://user-images.githubusercontent.com/5890745/42245767-03c4fa6e-7ee8-11e8-9414-548ec287d2d2.png)

[2018-07-03 22:09] tedw commented on #183
What if we figure out how to weight the title higher than other fields?

[2018-07-03 22:30] tedw commented on #159
It is also strange that these 2 URLs provide different results:

http://live-aldf-wp.pantheonsite.io/search/laws+protect+animals/

http://live-aldf-wp.pantheonsite.io/?s=laws+protect+animals&taxonomy_focus_area=&taxonomy_how_we_work=&date_range=&post_type=

[2018-07-05 13:53] lizzycederberg commented on #148
Note: Content is also appearing in the "related news" component when "Hide in News" is turned on, but it should not appear there either.

[2018-07-05 15:52] lizzycederberg commented on #183
@tedw I like that language better 👍

[2018-07-05 18:47] lizzycederberg opened #187 "Allow admins to pull in any page, any content type in the Related Content component"
Please remove any restrictions on selectable content types in the `2-up Related Content component` in the `Related Content` section (already done in `Resources`). Elizabeth is trying to add an Issue and they are not currently included there.

![screen shot 2018-07-05 at 2 45 48 pm](https://user-images.githubusercontent.com/13699106/42341751-23196622-8062-11e8-8d50-be975d5981df.png)

---
Checklist:

[2018-07-05 20:00] lizzycederberg commented on #187
@tedw Something must have gone wrong. Now I'm not able to find that Issue page in either Resources or Related Content

![screen shot 2018-07-05 at 3 59 24 pm](https://user-images.githubusercontent.com/13699106/42345178-8797f8b6-806c-11e8-98b4-1cf049661d25.png)

[2018-07-05 20:51] tedw commented on #187
I found it without the quotes around the search term, must be a search issue.

If you use the taxonomy filter it shows up as the first Issue.

![aldf-related](https://user-images.githubusercontent.com/864716/42347348-aa6f43d8-8073-11e8-98dc-0dc28e449ef6.gif)

[2018-07-05 21:02] lizzycederberg commented on #187
Did you change search in the CMS at all? The exact phrase search with quotes was working well last week.

[2018-07-05 21:16] lizzycederberg commented on #181
@LizLord I got ALDF's IPs in case you need them for the views you're setting up:

- Cotati office: 96.95.212.185
- Portland office: 75.148.91.53

**Note**: They have several remote staff members including our main POC Elizabeth who works in Maryland. Their IP addresses are not included here and Elizabeth's changes. Something to consider when looking at data in the future.

[2018-07-05 21:46] tedw commented on #187
Solr is currently disabled in the admin for ACF components. Should I re-enable it?

[2018-07-06 14:12] tedw commented on #187
Deployed, results are much better now. Searching `animals entertainment` without quotes has that Issue page showing up as the 6th result (the previous 5 are Articles).

[2018-07-06 14:17] lizzycederberg commented on #187
Working well now! Thanks!

[2018-07-06 14:17] #187 closed

[2018-07-06 18:05] lizzycederberg opened #188 "Check spacing between components"
@cmontwill Can you do a pass on a few different page types to check spacing between components. Elizabeth is reporting them ad-hoc like the top of this page: https://live-aldf-wp.pantheonsite.io/project/an-avoidable-tragedy-dogs-in-hot-cars/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the

[2018-07-06 18:18] lizzycederberg opened #189 "Change "About ALDF" label to "About Us" in primary nav"
The primary navigation says "About ALDF". Please change to "About Us"

![screen shot 2018-07-06 at 2 16 24 pm](https://user-images.githubusercontent.com/13699106/42394238-6dfc8424-8127-11e8-9f4b-39f9b1a70d32.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all version

[2018-07-06 18:19] lizzycederberg opened #190 "Wipe Formidable data"
@tedw David's run into some issue with the Formidable plugin he's using where the data was imported twice. Can you manually wipe the entries in there?

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any re

[2018-07-06 19:19] #155 closed

[2018-07-06 19:19] #151 closed

[2018-07-06 19:21] lizzycederberg commented on #160
Elizabeth approved not changing this

[2018-07-06 19:21] #160 closed

[2018-07-06 20:48] tedw commented on #185
Like we discussed, this seems to be a bug with custom filters and ACF. If we disable ACF in the admin it works correctly.

[2018-07-06 21:17] lizzycederberg commented on #190
David will take care of this using the `Delete ALL Entries` button

[2018-07-06 21:17] #190 closed

[2018-07-09 14:25] lizzycederberg opened #191 "Custom post type URLs use underscores instead of dashes"
This is breaking dynamically-generated links, like the “How We Work” links in the footer.

E.g. current format: `https://live-aldf-wp.pantheonsite.io/how-we-work/legal-education/`
E.g. desired format: `https://live-aldf-wp.pantheonsite.io/how_we_work/legal-education/`

[2018-07-09 14:45] tedw commented on #191
These are dynamically generated. The real issue is that I haven’t been able to figure out how to get WP to use dashes instead of underscores without breaking other functionality.

[2018-07-09 16:08] lizzycederberg commented on #185
As long as this is not impacting anything else, it's ok

[2018-07-09 17:34] cmontwill commented on #188
Two spacing notes....

**About page**
About page main content well is running into footer:
https://live-aldf-wp.pantheonsite.io/about-us/

Could it have the standard spacing between the footer and the content well shown here:
https://live-aldf-wp.pantheonsite.io/project/an-avoidable-tragedy-dogs-in-hot-cars/

**Project page sub nav**
Green sub nav has a little too much space beneath it….
https://l

[2018-07-09 18:36] lizzycederberg opened #192 "Review redirect formatting"
@tedw Can you please review how David's entered redirects and make sure they are accurate. Looks like he's using full URLS instead of relative, which I think it wrong.

https://live-aldf-wp.pantheonsite.io/wp/wp-admin/tools.php?page=redirection.php

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video

[2018-07-09 18:48] tedw commented on #192
Correct, he should **NOT** be using full URLs.

[2018-07-10 14:17] lizzycederberg opened #193 "Facts and actions are appearing in search results"
These should not appear in search results. They do not really have pages.

**Fact** -- directs the user to the homepage
searched "foie gras"
![screen shot 2018-07-10 at 10 16 29 am](https://user-images.githubusercontent.com/13699106/42515726-712065d4-842a-11e8-927b-23a840b43ea8.png)

**Action**
searched "kristen lindsey"
![screen shot 2018-07-10 at 10 15 47 am](https://user-images.githubuserconten

[2018-07-10 14:23] lizzycederberg opened #194 "Tags have disappeared from the frontend"
The manually added tags used to appear below the Focus Area and How We Work section, but now it's blank:

e.g. https://live-aldf-wp.pantheonsite.io/article/animal-legal-defense-fund-urges-usda-inspection-for-tony-the-tiger/

**CMS**
![screen shot 2018-07-10 at 10 20 38 am](https://user-images.githubusercontent.com/13699106/42516045-2f9cf694-842b-11e8-9ba9-ff295e13691a.png)

**Frontend**
![screen s

[2018-07-10 14:37] tedw commented on #193
@matbrady Did you have to set these post types to be included in search to make the Related News components work? I just reset them to be excluded for now.

@lizzycederberg I just triggered a reindex. You may need to manually clear the cache once that's done.

[2018-07-10 20:44] tedw commented on #192
These look fine

[2018-07-10 20:46] lizzycederberg commented on #192
Thanks!

[2018-07-10 20:46] #192 closed

[2018-07-10 20:47] tedw commented on #193
Hmm, maybe the re-index was cancelled when I closed my tab. I thought it would continue in the background but maybe not. Running again.

[2018-07-10 20:50] tedw commented on #193
Didn’t seem to work 😑

[2018-07-10 20:51] tedw commented on #193
It's weird because Facts and Actions aren’t included in the list of indexed content types:
https://live-aldf-wp.pantheonsite.io/wp/wp-admin/admin.php?page=solr-power#top#solr_info

[code]

[2018-07-11 14:37] lizzycederberg opened #195 "When there is no excerpt on a piece of content, show the first few lines from the body"
This would apply to:
- Articles
- Projects
- Cases
- Issues
- How We Work
- Focus Areas
- Pages
- People

**Examples**:

https://live-aldf-wp.pantheonsite.io/article/how-undergraduate-students-can-get-involved-in-animal-law/
![screen shot 2018-07-11 at 10 33 15 am](https://user-images.githubusercontent.com/13699106/42579416-48c7b660-84f6-11e8-837c-f4e6cc4e9e8f.png)

https://live-aldf-wp.pantheonsi

[2018-07-11 14:49] tedw commented on #195
I swear we already implemented this. Will look into it.

[2018-07-11 15:31] lizzycederberg commented on #36
I'm going to see if I can take care of this one!

[2018-07-11 16:06] lizzycederberg commented on #36
Ok well that was a failure -- I thought I would be able to replace the links to the PDFs in the HTML but I'm not seeing them.

@tedw If there is a way for me to manually update these, please let me know so I can take this off your plate.

Here's the page: https://live-aldf-wp.pantheonsite.io/article/animal-protection-laws-of-the-united-states-of-america/

Thanks!

[2018-07-11 16:22] tedw commented on #36
This is where the PDF paths are defined:

USA
https://github.com/Threespot/aldf-wp/blob/master/web/wp-content/themes/aldf/resources/assets/maps/usa/map-config.js

Canada
https://github.com/Threespot/aldf-wp/blob/master/web/wp-content/themes/aldf/resources/assets/maps/canada/map-config.js

[2018-07-11 18:12] lizzycederberg commented on #36
@tedw The new PDF paths follow this pattern `/wp-content/uploads/2018/06/WYOMING.pdf`

They are located in Media Library > Documents > State Rankings

[2018-07-11 18:57] tedw commented on #36
Updated for U.S.A.
https://test-aldf-wp.pantheonsite.io/article/animal-protection-laws-of-the-united-states-of-america/

But looks like ALDF never uploaded the Canadian PDFs
https://test-aldf-wp.pantheonsite.io/article/animal-protection-laws-of-canada/

[2018-07-11 20:17] tedw commented on #189
Updated

[2018-07-11 20:17] tedw commented on #183
Updated

[2018-07-11 20:19] tedw commented on #195
Fixed

- http://live-aldf-wp.pantheonsite.io/search/how+undergraduate+students/
- http://live-aldf-wp.pantheonsite.io/?s=captive+animals
- http://live-aldf-wp.pantheonsite.io/search/candy+chimp+case/

[2018-07-11 20:20] tedw commented on #186
Updated

[2018-07-11 20:29] tedw commented on #191
I don’t think we can change the underscores to dashes so I just updated the URLs to use underscores.

[2018-07-11 20:35] lizzycederberg commented on #186
Looks good!

[2018-07-11 20:35] #186 closed

[2018-07-11 20:36] lizzycederberg commented on #195
💯 great!

[2018-07-11 20:36] #195 closed

[2018-07-11 20:36] lizzycederberg commented on #191
Works for me!

[2018-07-11 20:36] #191 closed

[2018-07-11 20:36] lizzycederberg commented on #183
Like it!

[2018-07-11 20:42] lizzycederberg commented on #184
I'm bumping this up to Thursday's list because it seems related to #148

[2018-07-11 20:49] tedw commented on #194
They show up again once you click "Update" in the admin. This has to do with an update we made after content had been migrated. Have not been able to figure out an automated fix yet.

[2018-07-11 20:52] lizzycederberg commented on #194
Ooooh yeah. Ok well that's ok I will start updating pages and if they report specific cases I know how to fix them. I think we knew about this and I forgot. Thanks!

[2018-07-11 22:14] lizzycederberg commented on #194
Chris and I manually updated all the content!

[2018-07-11 22:14] #194 closed

[2018-07-11 22:15] lizzycederberg commented on #36
@tedw Canadian map PDFs are in Media Library > Document > Canada Rankings

[2018-07-12 14:28] lizzycederberg opened #196 "Homepage News not updating"
The selected Featured News items are not appearing on the homepage on the front end.

**These are the selected articles in the CMS:**

- https://live-aldf-wp.pantheonsite.io/article/trader-joes-cage-free-egg-lawsuit-reaches-settlement-in-a-win-for-truth-in-advertising/
- https://live-aldf-wp.pantheonsite.io/article/animal-legal-defense-fund-sues-suny-college-of-optometry-over-invasive-experiments-

[2018-07-12 14:30] lizzycederberg opened #197 "The first letter in the pull quote on the homepage is not displaying"
The quote in the CMS is "I think the public has made the decision that going and seeing the performance of orcas, that day has come and gone."

![screen shot 2018-07-12 at 10 29 58 am](https://user-images.githubusercontent.com/13699106/42639665-9136cbb6-85be-11e8-8a93-89ac680e9f14.png)

**The quote on the homepage is missing the "I" at the beginning**

![screen shot 2018-07-12 at 10 30 05 am](http

[2018-07-12 15:14] lizzycederberg opened #198 "Hide the date on 2-Up Related Content Component"
So we don't have to change the logic of the "hide date" toggle again, we are going to **remove all dates** from the front end of the "Resources" and "Related Content" in the `2-up related content` component

e.g. https://live-aldf-wp.pantheonsite.io/issue/ag-gag/

![screen shot 2018-07-12 at 11 14 00 am](https://user-images.githubusercontent.com/13699106/42642364-b6a6286e-85c4-11e8-99ab-fe82d83da8

[2018-07-12 15:51] tedw commented on #197
Fixed, and I removed the extra “I“ Elizabeth added as a temporary fix.

[2018-07-12 15:55] #197 closed

[2018-07-12 16:40] lizzycederberg opened #199 "Read More is not working on Focus Areas"
ALDF added a `read more` into the content on this page, but it's not showing up on the font end: https://live-aldf-wp.pantheonsite.io/focus_area/companion-animals/

They reported this on 3 pages and all are Focus Area pages, so maybe it's not "activated" on that content type?

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  In

[2018-07-12 18:55] lizzycederberg opened #200 "Remove "Our Team" from the people page builder component"
Please remove the "Our Team" title on this component

Seen here: https://live-aldf-wp.pantheonsite.io/about-us/our-staff/

![screen shot 2018-07-12 at 2 55 26 pm](https://user-images.githubusercontent.com/13699106/42653503-a31d38cc-85e3-11e8-8582-3876d084d959.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a scre

[2018-07-12 18:56] lizzycederberg opened #201 "Add "Events" to navigation"
Please add Events to the primary and footer navigation below "Take Action" at the same hierarchy.

It should point here: https://live-aldf-wp.pantheonsite.io/article/animal-law-events/

![screen shot 2018-07-12 at 2 56 44 pm](https://user-images.githubusercontent.com/13699106/42653572-cf22b6ae-85e3-11e8-9b12-aa304953ee30.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the i

[2018-07-12 20:19] tedw commented on #184
Looks fine now, and we should already be filtering out the current page, so perhaps they had manually chosen the same page in the related new component?

[2018-07-12 20:39] tedw commented on #199
The "read more" functionality only works in the first body copy field, not in the page builder wysiwyg components.

We could probably add this functionality in an hour or so if they _really_ need it.

[2018-07-12 21:38] lizzycederberg commented on #201
:+1:

[2018-07-12 21:38] #201 closed

[2018-07-12 21:38] lizzycederberg commented on #180
Working!

[2018-07-12 21:38] #180 closed

[2018-07-12 21:38] lizzycederberg commented on #193
Not anymore!

[2018-07-12 21:38] #193 closed

[2018-07-12 21:38] lizzycederberg commented on #148
Working!

[2018-07-12 21:38] #148 closed

[2018-07-12 21:38] lizzycederberg commented on #183
Gone!

[2018-07-12 21:38] #183 closed

[2018-07-12 21:38] lizzycederberg commented on #196
Updating!

[2018-07-12 21:38] #196 closed

[2018-07-12 21:40] lizzycederberg commented on #199
Reported -- will circle back later

[2018-07-12 21:41] lizzycederberg commented on #200
Gone!

[2018-07-12 21:41] #200 closed

[2018-07-12 21:41] lizzycederberg commented on #159
Working

[2018-07-12 21:41] #159 closed

[2018-07-12 21:41] lizzycederberg commented on #147
Working!

[2018-07-12 21:41] #147 closed

[2018-07-12 21:41] lizzycederberg commented on #184
Will keep an eye out, but closing for now.

[2018-07-12 21:41] #184 closed

[2018-07-12 22:45] cmontwill opened #202 "Glossary terms not working"
@tedw

On this page:
https://live-aldf-wp.pantheonsite.io/how_we_work/criminal-justice/
The amicus brief tag is not pulling in the text. It doesn't seem to be a content issue as "voir dire" is correct.

Also on this page:
https://live-aldf-wp.pantheonsite.io/how_we_work/regulation/
The 'administrative procedures act' is not working. Also, the 'administrative law' term should say "The body of law r

[2018-07-13 13:56] lfrancis opened #203 "Blinky hover state on Safari desktop"
http://dev-aldf-wp.pantheonsite.io/?s=native

Hover states are "blinking" on Safari 11.1.1 desktop:

![blinky](https://user-images.githubusercontent.com/6942589/42695311-fb6ce082-8682-11e8-9e31-840f7e1244d8.gif)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions

[2018-07-13 13:59] lfrancis opened #204 "Search select menu colored in IE11/Win7"
http://dev-aldf-wp.pantheonsite.io/?s=native

Search select menu colored in IE11/Win7

![selectmeie11](https://user-images.githubusercontent.com/6942589/42695421-509a072e-8683-11e8-8285-d2ef9c8a51b0.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affe

[2018-07-13 14:02] LizLord commented on #203
@lfrancis did you mean to assign me to this ticket?

[2018-07-13 14:03] lfrancis commented on #203
@LizLord, nope -- sry!

[2018-07-13 14:04] lfrancis opened #205 "Search result thumbs MIA"
http://dev-aldf-wp.pantheonsite.io/search/native?s=native

Search result thumbnails are MIA.

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating systems
- 🚩  Apply any relevant labels

[2018-07-13 14:08] tedw commented on #202
There are a couple of issues here:

### Quotation Marks
ALDF used straight quotes (`""`) instead of real quotes (`“”`) in some definitions, which is breaking the HTML. I will try to auto-convert the quotes prior to generating the HTML but they should also be using real quotes as a best practice ([Mac keyboard shortcuts](http://quotesandaccents.com)).

### Case Sensitive
Glossary terms are **case s

[2018-07-13 15:12] cmontwill opened #206 "Legal Resources Disappearing"
@tedw

A little issue with legal resources just bubbled up. It seems when a resource has content in it
its not showing up in the search:
https://live-aldf-wp.pantheonsite.io/articles/?article_type=legal-resource

Here's a resource without content:
https://live-aldf-wp.pantheonsite.io/article/rodeo-facts-the-case-against-rodeos/

and a resource with content:
https://live-aldf-wp.pantheonsite.io/art

[2018-07-13 15:24] lfrancis opened #207 "Search icon issues on mobile"
http://dev-aldf-wp.pantheonsite.io/?s=cat

Shown is iPhone 7 running latest iOS:

![img_b532cfbd34f0-1](https://user-images.githubusercontent.com/6942589/42699599-3b96ce1e-868f-11e8-87dc-b4909271c300.jpeg)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of af

[2018-07-13 15:35] lfrancis opened #208 "This link is broken. The SRC or HREF is an empty string."
This link is broken. The SRC or HREF is an empty string.

HREF="" or SRC="" can cause unexpected effects such as traffic spikes or cookie corruption, and causes JavaScript error events to fire on Firefox.

Link: URL is empty.
http://dev-aldf-wp.pantheonsite.io/
Line 678 701 730 760 790 822 995

Link: URL is empty.
http://dev-aldf-wp.pantheonsite.io/?s
Line 540 572 590 605 634 663 692 721 750 764

[2018-07-13 15:35] lfrancis opened #209 "This link is broken. The link target could not be loaded due to an HTTP error."
This link is broken. The link target could not be loaded due to an HTTP error.
Broken Link
4 pages

This is sometimes a temporary problem, but if it persists it indicates a serious problem on your web server.

Broken link: ‘Bizarro’ http://www.bizarro.com/vegan/index.htm 503 Server Unavailable
http://dev-aldf-wp.pantheonsite.io/about-us/about-us-testimonials/
Line 488

Broken link: The Tiger Next

[2018-07-13 15:36] lfrancis opened #210 "This link is broken. The name of the target web server not found in DNS."
This link is broken. The name of the target web server not found in DNS.
Broken Link
10 pages

This often occurs when the destination site is no longer operating, or www. has been omitted from the front of the domain name. It can also be a transient issue if the local DNS cache server is temporarily unavailable.

Broken link: Animal Welfare Act (AWA), 7 USC §2131 – §2159 http://awic.nal.usda.gov/n

[2018-07-13 15:38] lfrancis opened #211 "This link is broken. The page could not be found on the target web server."
This link is broken. The page could not be found on the target web server.
Broken Link
905 pages

Fixing this depends on how the link became broken:
	•	The link has been mistyped and should be fixed
	•	The destination page has moved and the link should be updated
	•	The destination page no longer exists and the link should be removed
	•	A file has been accidentally deleted and should be replaced

[2018-07-13 15:39] lfrancis opened #212 "This link is broken. The target anchor does not exist or is commented out."
This link is broken. The target anchor does not exist or is commented out.
Broken Link
3 pages

The anchor after the # symbol points to a non-existent NAME or ID on the target page. If the anchor link targets the same page nothing will happen when it's clicked. If the anchor link targets another page, then the top of the target page will be displayed instead of the intended location. In most cases

[2018-07-13 15:40] lfrancis opened #213 "This link may be broken. The target page has taken a long time to load and timed out."
This link may be broken. The target page has taken a long time to load and timed out.
Broken Link
6 pages

This is often a temporary problem, but if the problem persists it indicates network problems or an issue on your web server.

Broken link: Globalization and Animal Law http://www.kluwerlaw.com/Catalogue/titleinfo.htm?ProdID=9041133380
http://dev-aldf-wp.pantheonsite.io/article/animal-law-book

[2018-07-13 15:41] lfrancis opened #214 "This link returns a 403 HTTP status code."
This link returns a 403 HTTP status code.
Broken Link
3 pages

Web servers return this code when access is denied to a URL.

Link: Animal Law Conference at Lewis and Clark Law School http://law.lclark.edu/centers/animal_law_studies/events/animal_law_conference/ 403 Forbidden
http://dev-aldf-wp.pantheonsite.io/article/meet-aldf-ll-m-scholar-aurora-paulsen/
Line 443

Link: Animal Law Conference at L

[2018-07-13 15:42] lfrancis opened #215 "This page contains placeholder text such as Lorem Ipsum, CHANGEME, FIXME or TODO"
This page contains placeholder text such as Lorem Ipsum, CHANGEME, FIXME or TODO.

3 pages

Text: Lorem ipsum
http://dev-aldf-wp.pantheonsite.io/
Line 122

Text: Lorem Ipsum Lorem ipsum
http://dev-aldf-wp.pantheonsite.io/people/
Line 423 795

Text: Lorem Ipsum Lorem Ipsum
http://dev-aldf-wp.pantheonsite.io/person/lorem-ipsum/
Line 399 403

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  D

[2018-07-13 16:33] matbrady commented on #206
The logic should be updated so that it only applies to this view of the articles listings page /articles/?article_type=news -- but if this logic is applied items will appear in the full articles listing.
@cmontwill totally doable! 👍

[2018-07-13 17:10] tedw commented on #206
This has been deployed

[2018-07-13 17:16] tedw commented on #202
In additional to the issues above, there was also a CSS issue that was cutting off the tooltip when inside of a list item.

[2018-07-13 18:48] tedw commented on #202
I have added an optional `id` attribute to specify the glossary term if the word does not exactly match the glossary post title.

[code]

I also fixed the CSS that was causing tooltips to get cutoff when in list elements.

[2018-07-13 19:23] tedw commented on #205
Please test on the live environment. No images show up on dev.

http://live-aldf-wp.pantheonsite.io

[2018-07-13 19:30] #202 closed

[2018-07-13 19:40] #206 closed

[2018-07-13 19:46] lizott commented on #198
@tedw what is the status on this ticket? it needs to be closed out today.

[2018-07-13 19:47] lizott commented on #36
@tedw similar to the other friday task - can you provide an update?

[2018-07-13 19:48] lizott commented on #207
@tedw please prioritize the Friday tasks before reviewing these tickets.

[2018-07-13 19:49] tedw commented on #207
I am prioritizing Friday tasks.

[2018-07-13 19:53] lizott commented on #207
THANK YOU. 🙏

[2018-07-13 19:56] tedw commented on #36
Updated

[2018-07-13 19:58] tedw commented on #198
Dates have been removed

[2018-07-13 20:04] tedw opened #216 "Broken Links"
# External Links

**Globalization and Animal Law**
http://www.kluwerlaw.com/Catalogue/titleinfo.htm?ProdID=9041133380

- https://live-aldf-wp.pantheonsite.io/article/animal-law-books-periodicals/

**Amy Chaitoff**
http://aldf-old.live2.radicaldesigns.org/system/amy@chaitofflaw.com

- https://live-aldf-wp.pantheonsite.io/article/bar-association-animal-law-sections-and-committees/

**2008 “One Earth

[2018-07-13 20:05] tedw commented on #214
Moving all broken link issues to #216

[2018-07-13 20:05] #214 closed

[2018-07-13 20:07] tedw commented on #215
@lizott @cmontwill The “[People](http://live-aldf-wp.pantheonsite.io/people/)” page has “lorem ipsum” content. The other issues are only on the dev site, not the live site.

[2018-07-13 20:12] tedw commented on #213
Moving all broken link issues to #216

[2018-07-13 20:12] #213 closed

[2018-07-13 20:15] cmontwill commented on #36
@tedw can you get this PDF to link for Nefoundland?
https://live-aldf-wp.pantheonsite.io/article/animal-protection-laws-of-canada/

https://live-aldf-wp.pantheonsite.io/wp-content/uploads/2018/07/Animal-Protection-Laws-of-Newfoundland-2017.pdf

[2018-07-13 20:23] tedw commented on #212
I believe these are false positives triggered by the glossary links (which are the no-js fallback)

Example:
[code]

[2018-07-13 20:25] tedw opened #217 "Case status links are broken"
Examples:
- http://dev-aldf-wp.pantheonsite.io/cases/?case_status=Active
- http://dev-aldf-wp.pantheonsite.io/cases/?case_status=On%20Appeal

[2018-07-13 20:53] tedw commented on #36
Ugh, they changed the filename, deploying…

[2018-07-13 20:56] tedw commented on #209
Moved broken link issues to #216

[2018-07-13 20:56] #209 closed

[2018-07-13 20:58] tedw commented on #208
I believe these are due to missing images. Should be fine on live site.

[2018-07-13 21:00] tedw commented on #210
Moved broken link issues to #216

[2018-07-13 21:00] #210 closed

[2018-07-13 21:04] #198 closed

[2018-07-13 21:04] #36 closed

[2018-07-13 23:44] cmontwill opened #218 "Alert Promotion"
@tedw....Despite the alert promotion being turned off on the backend its still showing up on our browsers...
https://live-aldf-wp.pantheonsite.io/
![screen shot 2018-07-13 at 7 43 55 pm](https://user-images.githubusercontent.com/5890745/42718208-1a6b85e0-86d5-11e8-97f2-61268a7dfd31.png)

Can you confirm this is not a caching issue? I've tested it on safari (which I never use) and there is not dona

[2018-07-13 23:54] tedw commented on #218
Turn out we never integrated the on/off toggle 😬 Thankfully, that’s the easiest part of the donation toggle. Will be fixed momentarily.

[2018-07-14 00:00] tedw commented on #218
Deploying now…

[2018-07-14 00:20] tedw commented on #218
Deployed

[2018-07-14 00:23] tedw commented on #216
Additional broken links:

Speak Out For Farmed Animals Week
https://live-aldf-wp.pantheonsite.io/article/save-the-date-for-speak-out-for-farmed-animals-week/
https://live-aldf-wp.pantheonsite.io/article/advancement-of-animal-law-scholarships/2015-advancement-of-animal-law-scholarship-winners/

Meatless Mondays
https://live-aldf-wp.pantheonsite.io/about-us/saldf/chapter-spotlights/saldf-promotes-me

[2018-07-15 22:43] LizLord commented on #181
@lizzycederberg
It looks like we have "edit" access permissions at the VIEW level, but not the ACCOUNT level which is what we need to set up filters to block Threespot and internal ALDF traffic from being recorded in Analytics. Can you ask the client once again for permission?

[2018-07-16 14:22] lizzycederberg opened #219 "Launch support"
From David:

We have existing "A" records in our cloudflare account that are set up for www and aldf.org. the docs for pantheon say I should create a CNAME for www and aldf.org... should I remove the A records? the documentation says, "Ignore the DNS values provided in the Site Dashboard for A/AAAA records.

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps

[2018-07-16 14:29] lizzycederberg commented on #219
Per Ted I told David to remove the A name

[2018-07-16 14:52] tedw commented on #207
Fix has been deployed

[2018-07-16 15:33] #218 closed

[2018-07-16 15:37] cmontwill opened #220 "Body text links linking to staging site"
@tedw It looks like most/all of the in body text links are linking to the staging site.

Click on the 'ALDF annual rankings' link in the body of this page: [https://aldf.org/focus_area/companion-animals/](https://aldf.org/focus_area/companion-animals/)
![screen shot 2018-07-16 at 11 36 12 am](https://user-images.githubusercontent.com/5890745/42768040-77f9aeda-88ec-11e8-9c26-15c694d8a522.png)

I th

[2018-07-16 15:40] tedw commented on #220
Correct, ALDF needs to use the link button in the wysiwyg editor instead of pasting the link manually. This will ensure the URL never breaks, regardless of if the slug changes or which environment we’re on.

[2018-07-16 15:41] cmontwill commented on #220
Correct, I think LC said we were going to run a script to change any that might be like this. However, it looks like they did this wrong across the site. Is there any automated way to deal with this?

[2018-07-16 15:43] tedw commented on #220
Not that I’m aware of but can look into it.

We may be able to automatically replace `live-aldf-wp.pantheonsite.io` with `aldf.org` but this would not prevent the link from breaking if the permalink ever changed.

[2018-07-16 15:43] cmontwill commented on #220
@tedw gotcha. Can you let me know if that is possible? It might have to be a stop gap.

[2018-07-16 15:45] tedw commented on #220
Actually, this should be resolved when I setup the redirects to force HTTPS. THat should also redirect any `live-aldf-wp.pantheonsite.io` URLs to `aldf.org`.

[2018-07-16 15:46] cmontwill commented on #220
@tedw cool, when is that going to happen?

[2018-07-16 15:49] tedw commented on #220
I'm already working on it, give me 15 min

[2018-07-16 16:03] tedw commented on #220
Redirect has been deployed

[2018-07-16 16:07] lizzycederberg commented on #220
How long do we need to wait? I'm currently still seeing them point to the Pantheon URL

[2018-07-16 16:22] tedw commented on #220
Hmm, it worked for me right away.

[2018-07-16 17:53] #109 closed

[2018-07-16 19:04] lizzycederberg opened #221 "Password protected publishing doesn't work"
ALDF needs to password protect this page so only internal users can see it, but when I turn the password on, I'm able to get to the page without it asking for a password (I'm in a different browser where I'm not logged into the CMS): https://aldf.org/project/animal-legal-defense-fund-style-guide/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to

[2018-07-16 19:08] tedw commented on #221
I can confirm that password protection does not seem to be working. Will investigate.

[2018-07-16 19:22] #220 closed

[2018-07-16 19:26] lizzycederberg opened #222 "Add support@aldf.org as site admin"
@tedw Is it ok that this is a directory email? i.e. it goes to lots of people.

[2018-07-16 19:28] lizzycederberg opened #223 "Advice for finding old pages?"
@tedw David is trying to figure out what page to direct some old URLs to that didn't have redirects set up previously. He can't access those URLs anymore, though, so he's not sure exactly what content is on them. Any advice for finding those? I suggested Way Bak Machine 🤷‍♀️

[2018-07-16 19:29] tedw commented on #222
It’s up to them, but I think it makes sense to have this be a separate mailbox so people don’t get spammed with password reset emails and whatnot. This email could also be used for Mailgun, WooCommerce, and other 3rd-party services.

If their tech team isn’t able to setup a shared mailbox, we can just have it go to David or Elizabeth.

[2018-07-16 19:31] lizzycederberg opened #224 "Why do only some images appear in preview in CMS?"
@tedw Please do **NOT** make any code changes here. I am just wondering if you have any initial idea why only some content shows a preview image in the CMS

**Again, this is NOT something we want to change**.

![screen shot 2018-07-16 at 3 30 38 pm](https://user-images.githubusercontent.com/13699106/42779088-58546d60-890d-11e8-8a34-29411ae8bc2e.png)

---
Checklist:
- 🔗  Provide links to affected p

[2018-07-16 19:34] lizzycederberg commented on #222
@tedw Let's go ahead an use this for now and we can change it if it's too much email. They don't want to have to check a separate inbox and this already goes to both of them plus a couple other people. Thanks!

[2018-07-16 19:35] lizzycederberg commented on #219
This has all been resolved.

Note: Because they were using Cloudflare, they did not need to update their A records.

[2018-07-16 19:35] #219 closed

[2018-07-16 19:37] tedw commented on #224
No idea. Perhaps we need to regenerate thumbnails for those images, or perhaps the code that sets the featured image using an ACF field is not working for all post types.

[2018-07-16 19:39] tedw commented on #223
Yeah, https://web.archive.org is his best bet.

Do they still have access to the old site? They should save a backup before shutting down the account.

[2018-07-16 19:41] tedw commented on #222
Updated, they should receive a confirmation email.

[2018-07-16 20:24] tedw commented on #221
Fixed, can test on https://test-aldf-wp.pantheonsite.io/project/animal-legal-defense-fund-style-guide/ (pw is `aldf`)

[2018-07-16 20:55] lizzycederberg commented on #224
Cool -- no action needed right now.

[2018-07-16 20:57] #223 closed

[2018-07-16 20:58] tedw commented on #217
Fixed

[2018-07-16 20:58] tedw commented on #221
Fixed

[2018-07-16 20:58] lizzycederberg commented on #222
Cool thanks!

[2018-07-16 20:58] #222 closed

[2018-07-16 21:05] lizzycederberg commented on #221
@tedw I'm able to see the page without a password

[2018-07-16 21:07] tedw commented on #221
![inconceivable](https://user-images.githubusercontent.com/864716/42783690-b8543044-891a-11e8-905c-082ec85aadb9.gif)

[2018-07-16 21:11] #217 closed

[2018-07-16 21:12] tedw commented on #221
Ready for testing on prod https://aldf.org/project/animal-legal-defense-fund-style-guide/

[2018-07-16 21:12] tedw commented on #188
Ready for review

[2018-07-17 13:33] lizzycederberg opened #225 "Homepage: Article shows twice on mobile"
@tedw This article is appearing twice on the homepage, but only when you view it on mobile.

![screen shot 2018-07-17 at 9 32 12 am](https://user-images.githubusercontent.com/13699106/42820537-6b7aecba-89a4-11e8-877c-ece65e89084f.png)

I also noticed that the first instance says "Companion Animals" and second says "Press Release". Please check.

![screen shot 2018-07-17 at 9 32 21 am](https://user

[2018-07-17 13:43] lfrancis commented on #212
@tedw So these are fake links that's only purpose is to provide tooltips? Do we get penalized by Google for such? If so, maybe the the fallback is not worth it.

[2018-07-17 13:44] lfrancis commented on #208
Testing live site now

[2018-07-17 13:48] lfrancis commented on #207
Confirmed addressed

[2018-07-17 13:48] #207 closed

[2018-07-17 13:49] lfrancis commented on #205
Confirmed fine on live

[2018-07-17 13:49] #205 closed

[2018-07-17 13:53] lfrancis opened #226 "mail subscription page logo points to wp.pantheonsite.io"
This is the thank you page after subscribing to newsletters:
https://act.aldf.org/page/4644/subscribe/2

The logo in the upper-left corner piointsd to:
https://live-aldf-wp.pantheonsite.io/

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers

[2018-07-17 14:00] lfrancis commented on #226
Same with the donate page: https://give.aldf.org/page/5302/donate/1

[2018-07-17 14:02] lfrancis opened #227 "Dismiss search widget invisibleish"
https://aldf.org/?s=snake&taxonomy_focus_area=&taxonomy_how_we_work=&date_range=&post_type=

![dismissme](https://user-images.githubusercontent.com/6942589/42822222-7ceb1138-89a8-11e8-8da8-2dce2b2d4b27.png)

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of a

[2018-07-17 14:31] tedw commented on #225
Fixed

[2018-07-17 14:33] lizzycederberg commented on #225
Looks good!

[2018-07-17 14:33] #225 closed

[2018-07-17 14:33] lizzycederberg commented on #221
Working now!

[2018-07-17 14:33] #221 closed

[2018-07-17 15:04] lizzycederberg commented on #216
I sent a report of all the external links to the client. David is working on setting up redirects for internal broken links, so no further action needed on our end here.

[2018-07-17 15:04] #216 closed

[2018-07-17 16:11] lfrancis commented on #208
Live site scan:

HREF="" or SRC="" can cause unexpected effects such as traffic spikes or cookie corruption, and causes JavaScript error events to fire on Firefox.

Link: Document URL is empty.
https://aldf.org/?s
Line 624 654 796

Link: Project URL is empty.
https://aldf.org/?s&taxonomy_how_we_work=advocacy
Line 566 682 769

Link: Project URL is empty.
https://aldf.org/?s&taxonomy_how_we_work=cri

[2018-07-17 16:13] lfrancis opened #228 "This IMG links to a file with the wrong MIME type for an image."
This IMG links to a file with the wrong MIME type for an image.
Server Configuration
37 pages

This can happen if you link an image to an HTML page, or the image is missing and an error page is returned instead.

Image: https://aldf.org/case/8200/380/ file type is: text/html.
https://aldf.org/case/8200/
Line 527

Image: https://aldf.org/case/animal-welfare-records-blackout/380/ file type is: text/

[2018-07-17 16:17] lfrancis commented on #77
Shouldn't https://aldf.org/sitemap_index.xml be https://aldf.org/sitemap.xml?

[2018-07-17 17:24] tedw commented on #227
I don’t believe we can control this.

[2018-07-17 17:30] tedw commented on #208
These are all due to the featured news item not having an associated image. We need to conditionally render the image tag based on whether or not there is a feat image.

[2018-07-17 17:32] tedw commented on #228
It appears the smallest image size URL is broken:
[code]

[2018-07-17 17:33] tedw commented on #77
@Henryhankdc Is this editable?

[2018-07-17 17:34] lfrancis commented on #212
If they are real links should they have real anchor targets? Again, maybe not super important if Google doesn't interpret them as bad links.

[2018-07-17 19:23] Henryhankdc commented on #77
@tedw @lfrancis You don't need to edit it. YOAST prefers to use an index XML sitemap to keep sitemaps loading faster. Either format is valid and will give you the same amount of SEO juice you are looking for. The YOAST method is probably better for this site since they will constantly be creating more content and the index method will help robots track it faster.

[2018-07-17 19:53] lfrancis commented on #77
@tedw @Henryhankdc

So the difference is just that someone has to manually add sitemap_index.xml to all the search engines they care about?

And WP can't efficiently rewrite and/or deliver a plain sitemap.xml file for consumption?

[2018-07-17 21:10] Henryhankdc commented on #77
WP does do this, but YOAST plugin does it differently. However the "geniuses" at Yoast believe that it's not about the file name and that bot's will find the sitemap. Additionally they believe that the best way to have your site crawled is to manually add `sitemap_index.xml` to any search engine via something like google search console they may have and not rely on search engines.

There are two o

[2018-07-18 14:02] lfrancis commented on #77
@tedw @Henryhankdc

Just reviewed the docs at https://www.sitemaps.org/protocol.html and it seems kosher to me -- i'll submit an enhancement request to PowerMapper to test for `sitemap_index.xml` as well as `sitemap.xml`

We def need to add a pointer in our robots.txt if we're not doing that already.

[2018-07-18 14:09] lizzycederberg opened #229 "Update links"
@danielboggs Can you please update all URLs throughout the site that contain `https://live-aldf-wp.pantheonsite.io/` or `http://live-aldf-wp.pantheonsite.io/` to instead point to `https://aldf.org/`

[2018-07-18 16:33] lizzycederberg opened #230 "HTML tags appearing in promo"
The promo for [this page](https://aldf.org/article/amicus-brief-request-form/) that appears on [this page](https://docs.google.com/document/d/1oM-RTG-rhPAXoxbG3s-ekr5w4lyYYyIvRHJ8FgorZoo/edit?usp=sharing) is showing some HTML. Maybe because the destination page has a form on it?

![screen shot 2018-07-18 at 12 27 29 pm](https://user-images.githubusercontent.com/13699106/42894872-1481188e-8a86-11e8

[2018-07-18 17:02] lizzycederberg opened #231 "atrium.aldf.org vulnerability"
## Background

ClientDev received an alert from Google Search Console on 7/17/2018

**SUBJ**: Hacked content detected on http://aldf.org/

**BODY**:

## Steps Taken

Ted, Liz Lord, and Daniel reviewed the email and determined this is not related to the launch of the new aldf.org. It is only on a subdomain atrium.adf.org that Threespot has no control over. It is unclear how this content was added t

[2018-07-18 17:04] lizzycederberg commented on #231
Update: Lizzy received this reply from David:

@tedw @danielboggs Do you think this wildcard entry could be related to this? Or possibly because the site's still up?

[2018-07-18 21:22] lizzycederberg commented on #231
ALDF had their host take down the site, so they can leave the wildcard entry in place and this should not cause any other issues or leave them vulnerable. I did advise David to reset passwords though.

[2018-07-18 21:22] #231 closed

[2018-07-19 14:38] cmontwill opened #232 "Homepage header styling"
Hey all,

We didnt catch this but....

1. It looks like the header title on the homepage isn't 'untitled serif' despite its being in the code. This is happening on chrome mac in threespot, me thinks...it was ok on EP's PC
https://aldf.org/

2. The CTA block got much bigger. I am looking to accommodate longer 2 line headlines and give more space to the image? Desired below:
![screen shot 2018-07-19

[2018-07-20 19:04] tedw commented on #230
It seems this content has since been replaced. LMK if it happens again an i will investigate.

[2018-07-23 19:54] cmontwill opened #233 "Image sizing- original checkbox"
@tedw
Site wide, we're having difficultly inserting non-standard aspect ratio imagery as well as imagery that doesn't meet the small or medium sized categories. This is coming up in cases of logos, banners and magazine covers. Images like this one:
https://aldf.org/wp/wp-admin/upload.php?item=10531

While we could create a component to meet all these exact needs, it seems like the best way to deal

[2018-07-24 13:52] lizzycederberg opened #234 "Update where OG images are pulled for sharing on Facebook"
Right now if you share an image on Facebook it's pulling in the woodcut image, not the featured image. Please update to pull in the featured image on pages that contain a hero. It seems to be working on Twitter

ALDF would also like to know where these images are managed so they can manually update them if needed (especially for pages that do not contain a featured image).

https://developers.face

[2018-07-24 23:51] tedw commented on #233
@cmontwill Can you send me an example of a page where this is an issue?

FYI, images inserted via the wysiwyg editor are not subject to a fixed aspect ratio.

[2018-07-26 14:30] lizzycederberg opened #235 "Add padding between people photos on mobile"
When you view this page on mobile, there is no space between the headshots: https://aldf.org/about-us/our-staff/

ALDF would like to see white space separating the images

---
Checklist:
- 🔗  Provide links to affected pages
- 💁  Describe the issue and any steps required to reproduce it
- 📷  Include a screenshot or video of the problem
- 💻  List all versions of affected browsers and operating syste

[2018-07-26 15:56] tedw commented on #234
Looks like Yoast will use the first image it finds by default and there is no way to customize that in the plugin GUI. I will have to manually tell it which images to use for each post type. This will probably take a couple of hours.

https://wordpress.stackexchange.com/questions/179447/is-there-a-filter-to-define-the-og-image-on-a-given-post

[2018-07-26 16:54] tedw commented on #234
@lizzycederberg In the mean time, they can manually choose the social sharing image in the Yoast widget:

![yoast-social-image](https://user-images.githubusercontent.com/864716/43276541-f6608e54-90d2-11e8-9db0-80c679b871c5.png)
.

[2018-07-26 16:57] tedw commented on #234
FWIW, it seems that Facebook is choosing that background image, not Yoast. The OG image on that [example page](https://aldf.org/project/florida-greyhound-racing-ban/) you posted is actually the correct [default image](https://aldf.org/wp-content/uploads/2018/07/ALDF_FB_Og_image.jpg).

Here's the generated markup:

[code]

Perhaps that default image doesn’t comply with Facebook’s guidelines so FB i

[2018-07-26 21:41] lizzycederberg opened #236 "CMS is slow"
CMS is super slow. David reported that the edit page load times are very slow, and I've noticed it too. Any recommendations?

[2018-07-26 22:06] tedw commented on #236
This is primarily due to the way WordPress works and all of the various plugins. I don't know of anything we can do about it off hand but will ask around.

[2018-07-27 15:10] tedw commented on #236
Yoast seems to be the main culprit. Disabling it prevents ~70 requests totaling ~2.7 MB. Load time with Yoast was a whopping 38 sec, but went down to 4 sec without Yoast.

[2018-07-27 15:58] tedw commented on #234
FYI, ALDF will need to tell Facebook to re-scrape pages after updating:
https://developers.facebook.com/tools/debug/sharing

If they don’t do this, Facebook may take a few days to update.

[2018-07-29 17:35] tedw commented on #229
@danielboggs Is this all I need to do?
`$ wp search-replace 'https://live-aldf-wp.pantheonsite.io' 'https://aldf.org'`

Docs https://developer.wordpress.org/cli/commands/search-replace/

[2018-07-29 17:36] danielboggs commented on #229
@tedw this has actually already been performed. That's the command normally but you have to add some extra stuff to run this via Terminus on Pantheon. I'll post the specifics tomorrow when i'm back on my work machine.

[2018-07-30 13:00] tedw commented on #234
Tried using this code but it didn’t seem to work:

[code]

Docs https://yoast.com/wordpress/plugins/seo/api/

[2018-07-30 15:50] danielboggs commented on #229
@tedw FYI here is the command:

[code]

[2018-07-31 20:46] lizzycederberg opened #237 "CSS issue on Email to Target EN pages"
It looks like there might be a CSS conflict with the EN wrapper that you developed for us.

On “email to target” pages, the Other Ways to Give and Footer get messed up. This **doesn’t** happen on other “petition” type pages.

Here’s an example: https://act.aldf.org/page/5509/action/1

![image001](https://user-images.githubusercontent.com/13699106/43486252-547fd6c2-94e1-11e8-8dce-217c2b7b1977.jpg)

[2018-07-31 21:56] tedw commented on #237
Looks like the links in the footer are inheriting the body copy link styles.

[2018-08-02 19:38] tedw commented on #237
The footer code is in the wrong place, it should be after `<main class="Main" id="main" role="main">` not inside of it. I suspect he made a new template but messed something up.

[2018-08-02 21:03] lizzycederberg commented on #237
@tedw Is it something you can fix by updating this template? Like would the changes roll out to the forms he's already made?

[2018-08-02 21:03] lizzycederberg commented on #234
@tedw Update from David:

The issue is that the settings in Yoast aren’t actually being used for which image is displayed, even for pages where they are set in Yoast. You can see that here in the Facebook Object Debugger:
https://developers.facebook.com/tools/debug/og/object/?q=https%3A%2F%2Faldf.org%2Farticle%2Fshasta-county-suspends-contract-with-wildlife-killing-agency-after-pressure-from-the-a

[2018-08-03 17:27] tedw commented on #237
Ok, figured it out. There was a missing line in the template code, but for some reason this was only a problem on that particular greyhound page, so we never noticed it during QA. It’s fixed now.

[2018-08-03 21:07] tedw commented on #234
One issue is that Yoast uses the full-size image by default, which are often over Facebook’s 8 MB limit [docs](https://developers.facebook.com/docs/sharing/best-practices#images). I attempted to tell Yoast which image size to use the other day but the code had a typo: `'large_size'` should have been `'large'`.

I fixed this, and the code looks correct now, but for some reason Facebook is still not

[2018-08-06 14:11] tedw commented on #234
Looks good now! Not sure why it wasn't working last time. Perhaps FB wasn’t clearing correctly its cache when I re-scraped the page.

LMK if ALDF noticed any pages still showing the old background image.

[2018-08-06 14:14] tedw commented on #234
FYI, pages without a featured image will default to the logo.

[2018-08-08 16:57] cmontwill commented on #233
From EP...

https://aldf.org/article/student-animal-legal-defense-fund-saldf-program-guides/2018-2020-farmed-animals-the-law/

I uploaded the attached photo to put on this page.

When I uploaded it, it only gives me the option to make it small.

I think have to insert the image into the copy, then click edit on the image, then go in and add a custom size (which is the original size).

 @ted

[2018-08-08 18:07] tedw commented on #233
I added “Original Size” to the image size menu.

[2018-08-13 15:33] lizzycederberg opened #238 "Page directing users to News and Press Releases listing"
ALDF would like press releases to be included with other news when you click on the `News` item in the navigation.

However, since News and Press Release are unique content types we will need a custom URL that would list both content types -- while retaining the facets.

@tedw Can you please provide an estimate for making this update?

[2018-08-13 15:44] lizzycederberg commented on #233
Confirmed by Elizabeth via email on 8/9

[2018-08-13 15:44] #233 closed

[2018-08-13 15:44] #234 closed

[2018-08-13 15:44] lizzycederberg commented on #236
Nothing to be done here right now. Thanks!

[2018-08-13 15:44] #236 closed

[2018-08-13 15:44] lizzycederberg commented on #237
Thanks!

[2018-08-13 15:44] #237 closed

[2018-08-13 17:05] tedw commented on #238
Some questions:
- What’s driving this request? What issue are they trying to solve?
- Should we remove the “Article Type” filter since we currently have no way to show 2 active items?
- What happens when you select “News” from the Article Type facet on the Article listing page? Would it redirect to this new News listing page?
- What happens when you select “Press Release” from the Article Type fac

[2018-08-16 23:01] tedw commented on #235
That’s odd, not sure how that was missed in QA. This should only take 15 min to fix.

[2018-08-17 14:27] lizzycederberg commented on #238
@tedw @matbrady We have several ideas for solving the "issues" ALDF is having. Basically, internal audiences are having difficulty finding specific content and are looking for ways to improve those results. Can you please provide estimates for each of these options? Some will need design too.

1.a. Make the `Article type` drop down on /articles a multi-select drop down wth checkboxes so users can

[2018-08-20 13:11] tedw commented on #238
@lizzycederberg I updated your post above to include my estimates and questions for Mat.

[2018-08-20 15:39] lizzycederberg opened #239 "Italics are not displaying properly"
**Bug**
Italics show up inconsistently from device to device and browser to browser.

**To Reproduce**
1. Go to https://aldf.org/project/florida-greyhound-racing-ban/
2. Scroll down to the "Social Media" section. The text "Click the image to download!" should be italicized.

When I view it in Chrome, FF, and Safari, I can see it fine. But Chris and Elizabeth cannot see it in Chrome (even after cle

[2018-08-20 16:26] lizzycederberg commented on #238
Just added one clarification too!

[2018-08-20 18:17] tedw commented on #239
I can't reproduce the issue.

@cmontwill Can you send me your browser info? https://mybrowser.fyi

[2018-08-20 19:10] tedw commented on #238
@matbrady Do you think you could provide some LOE ranges for #1–5? I think your guess would be closer than mine since you’re more familiar with the search functionality.

[2018-08-22 13:27] cmontwill commented on #239
Ugh, I am so sorry. Still not showing in the attached browser version.
![screen shot 2018-08-22 at 9 26 35 am](https://user-images.githubusercontent.com/5890745/44466125-87dc6400-a5ed-11e8-96dd-447c89451505.png)
![screen shot 2018-08-22 at 9 26 23 am](https://user-images.githubusercontent.com/5890745/44466126-8874fa80-a5ed-11e8-893e-4e2f0a2b775f.png)

[2018-08-22 14:09] tedw commented on #239
@cmontwill Can you see if it's fixed now?
https://test-aldf-wp.pantheonsite.io/project/florida-greyhound-racing-ban/

[2018-08-22 14:15] cmontwill commented on #239
<img width="376" alt="screen shot 2018-08-22 at 10 15 27 am" src="https://user-images.githubusercontent.com/5890745/44468920-52874480-a5f4-11e8-9216-c5f4fb25ea2a.png">
Italics FTW! @tedw

[2018-08-22 14:34] tedw commented on #239
Deployed to production

[2018-08-22 15:46] tedw commented on #212
I think the anchor in this particular case is for a term that has not been published yet: `#auto-draft-26`

Normally, the anchors will exist on the Glossary page.

[2018-08-22 16:17] tedw commented on #232
1. Can you check again? Seems fine now.
1. I increased the max-width to `840px`

I also adjust the fade-in animation to start at `0.5` opacity instead of `0` to make it less jarring.

Deployed to live site.

[2018-09-04 18:34] LizLord commented on #149
completed

[2018-09-04 18:34] #149 closed

[2018-09-17 13:39] cmontwill opened #241 "Hide from search results AND listing pages"
**Is your feature request related to a problem? Please describe.**
Events that are not open to the general public are showing up in the event listing page.

**Describe the solution you'd like**
Would like to see any article type hid from search also hid from listing pages.

**Describe alternatives you've considered**
Publishing orphaned pages, but that doesn't allow the 'event' type to show up and

[2018-09-17 14:38] tedw commented on #241
@matbrady Can you take a quick look at this? Seems like #148 should have taken care of this.